@charset "utf-8";

body{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    font-family: 'Roboto', sans-serif;
}

/*header*/
#header{
    margin-bottom: 56px;}
.util_wrap{
    width:100%;
    height: 70px;
    background-image: url(../images/heder_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2F3958;
}
.util_wrap .util{
    width: 980px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    _background-color:#e8eaf0
}
.util_wrap .util .logo{
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: -15px;
    
}
.util_wrap .util .logo a{
    display: block;
    width: 305px;
    height: 85px;
    background-image: url(../images/moonlightLogo\ 1.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    _background-color: wheat;
}


.util_wrap .util .search_wrap{
    width: 290px;
    height: 30px;
    position: absolute;
    left: 280px;
    top: 50%;
    transform: translateY(-50%)
}




/*header_gnb*/
#header{}
#header .gnb_wrap{
    height: 60px;
    background-color: rgb(255, 255, 255);
    opacity: 20;
}
.gnb_wrap .gnb{
    width: 980px;
    margin: 0 auto;
}
#header .gnb ul{
    position: relative;
}
#header .gnb li{
    width: 163px;
    height: 60px;                            
    float: left;
    border-right: 1px solid #d8d8d8;
}
#header .gnb li:first-child{
    border-left: 1px solid #d8d8d8;
}
#header .gnb li a{
    display: block;
    width: 163px;
    line-height: 62px;
    text-align: center;
    font-weight: bold;
    position: relative;
    color: #393939;
}

.gnb li:hover{
    
    color: #fff;
} 


.gnb_bar{
    position: absolute;
    width: 163px;
    height: 100%;
    transform:scaleY(0);
    transition:0.3s;
    /* transform-origin: 50% 0; */

}
 .gnb li:hover .gnb_bar{
    transform:scaleX(1);
    transform-origin:50% 100% ;
    background: #6164AB;
} 
.gnb li:hover a{
    color:white;font-weight: bold;
}






/*main*/


.sliderPager .bxPager{
    height: 100%;
    background: #000;
}
.sliderPager .bxPager a{
    /* float: left; */display: block;
    /* width: calc( 100% / 4); */
    height:25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 40px;
    background:#e3e7ec;
    font-weight:bold;
    color:rgb(139, 139, 139);
    height: 75px;
}
.sliderPager .bxPager a.active{background:#A4A6E3;color:#464646;}
.sliderPager .bxPager a:hover{background: #6164AB; color: white;}


#main{}

#main .ball_ani4{
    position: absolute;
    top: 800px;
    left: 45px;
    width: 400px;
    animation-name: ball_ani4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction:inherit;
}
#main .air_ani1{
    position: absolute;
    top: 250px;
    left: -620px;
    z-index: -1;
    width: 600px;
    animation-name: air_ani1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction:inherit;
    transform: rotate(10deg);
}

#main .hover_ani .img_ani{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
    scale(1.1);
    transition: 0.3s;
}
#main .hover_ani:hover .img_ani{
    transform: translate(-50%, -50%)
    scale(1.2);
}
#m_section01{
    width: 980px;
    height: 556px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom:0;
}
#m_section01 .reserve_wrap{
    width: 483px;
    height: 300px;
    float: left;
    background: #fff;
    position: relative;
    z-index: 3;
}
.reserve_wrap .reserve{
    width: 483px;
    height: 300px;
    overflow: hidden;
}
.reserve_wrap .r_slide_wrap{
    width: 350px;
    height: 300px;
    float: right;
    background: #fff;
}
.r_slider .s_01{
    padding: 25px 35px;
}
.r_slider .s_01 fieldset{
    border: 0 none;
    position: relative;
}
.r_slider .s_01 fieldset legend{
    position: absolute;
    top: -99999px;
}
.r_slider .s_01 fieldset label{
    float: left;
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.r_slider .s_01 fieldset .date{
    width: 132px;
}
.r_slider .s_01 fieldset .class{
    width: 118px;
    margin-right: 20px;
    float: left;
}
.r_slider .s_01 fieldset .people{
    float: left;
    display: block;
    width: 66px;
    }
.r_slider .s_01 fieldset .adult{
    margin-right: 10px;
}
.r_slider .s_01 fieldset input.date{
    float: left;
    display: block;
    border: 2px solid #ededed;
    border-radius: 5px;
    height: 32px;
    color: #d2d2d2;
    text-indent: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.r_slider .s_01 fieldset .date.start{
    margin-right: 16px;
}
.r_slider .s_01 fieldset select{
    border: 2px solid #ededed;
    border-radius: 5px;
    height: 32px;
    color: #d2d2d2;
    text-indent: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.r_slider .s_01 fieldset select.country{
    width: 280px;
}
.r_slider .submit_btn{
    width: 278px;
    height: 38px;
    border: 0 none;
    background-image: url(../images/submit.png);
    margin-top: 15px;
    text-indent: -9999px;
    cursor: pointer;
}
.blind{
    display: block;
    text-indent: -999px;
}
.reserve_wrap .r_slide_tab{
    width: 132px;
    height: 300px;
    float: left;
}
.reserve_wrap .r_slide_tab a.tab_1{
    height: 75px;
    width: 132px;
    background-image: url(../images/section02.jpg);
    background-position: 0 0;
}
.reserve_wrap .r_slide_tab a.tab_2{
    height: 75px;
    background-image: url(../images/section02.jpg);
    background-position: 0 -75px;
}
.reserve_wrap .r_slide_tab a.tab_3{
    height: 75px;
    background-image: url(../images/section02.jpg);
    background-position: 0 -150px;
}
.reserve_wrap .r_slide_tab a.tab_4{
    height: 75px;
    background-image: url(../images/section02.jpg);
    background-position: 0 -225px;
}
.reserve_wrap .r_slide_tab a.tab_1.active{
    height: 75px;
    background-image: url(../images/section03.jpg);
    background-position: 0 0;
}
.reserve_wrap .r_slide_tab a.tab_2.active{
    height: 75px;
    background-image: url(../images/section03.jpg);
    background-position: 0 -75px;
}
.reserve_wrap .r_slide_tab a.tab_3.active{
    height: 75px;
    background-image: url(../images/section03.jpg);
    background-position: 0 -150px;
}
.reserve_wrap .r_slide_tab a.tab_4.active{
    height: 75px;
    background-image: url(../images/section03.jpg);
    background-position: 0 -225px;
}

.Bigcontent{
    background-color: crimson;
    width: 980px;
    height: 600px;
    position: relative;
    top: 30px;
    margin: 0 auto;

}
.tour01 {
    background-color: gray;
    top:330px; 
    position: absolute;}
.tour01 .left,
.right{
    float: left;
    margin-right: 15px;
    position: relative;
    
}

/* .tour01 .left{position: relative;} */




.tour01>.left>.japanTxt{ 
    position: absolute;
    width: 233px;
    height:50px;
    background-color:#6164AB;
    top:190px;
    line-height:50px;
}

.tour01 .left .japanTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .left .japanTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .left .japanTxt b{
    color: #FACC88;
}


.tour01 .right .franceTxt{
    
    position: absolute;
    width: 233px;
    height:50px;
    background-color:#5E80AE;
    top:190px;
    line-height:50px;
    
}

.tour01 .right .franceTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .right .franceTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .right .franceTxt b{
    color: #FFDB5E;
}
/*contentBox02*/
.contentBox02{
  
    background-color: rgb(97, 63, 63);
    position: absolute;
    right: 5px;
    z-index: 0;
    top:0;
 }
 
 .contentBox02 img{
     float: right;
 
  
 }
 
 .contentBox02 img{
     position:absolute;
     right:-110px;
     bottom: -600px;
     opacity: 0.8;
     animation-name:moon;
     animation-duration: 1.5s;
     animation-iteration-count: infinite;
     animation-timing-function:linear;
     animation-fill-mode: forwards;
     animation-direction: alternate;
     z-index: 3;
    
 }
 
 @keyframes balloon{
     to{bottom: -500px;}
 } 
 
 
 
 .content02Txt{
     right: 70px;
     position: absolute;
     width: 400px; _background-color: blue;
     z-index:4;
 }
 .contentBox02 b{
     font-size: 55px;
     font-weight: bold;
     top: -40px;
     line-height: 60px;
     color:#1C6DC9;}
    
 
 .contentBox02 b line{
   
     border-bottom: 6px solid #0b1725;
 }
 .contentBox02 p{
     font-size: 30px;
     line-height: 50px;
     font-weight:600;
     color:#0b1725;
     margin-top: 20px;
     
 } 
 
 
 
 
 