@charset "utf-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
}

header#header>div.topWrap{
    background-color:#0044af;}
header#header>div.topWrap>div.top{
    margin: 0 auto; _background-color: aliceblue; width: 1200px;
}
nav.util{float: right;}
nav.util>ul>li{
    float: left;}
nav.util>ul>li>a{
    display: block; padding: 0 30px; color: white; line-height:40px;
   font-size: 13px;}

div.box{width: 400px; height: 41px; _background-color: wheat;}
nav.menu>ul>li{float: left;}
nav.menu>ul>li>a{
    background-color:#00163B; display: block; text-align: center; 
    padding: 0 30px; color: white; line-height: 40px; margin-right: 3px;}

nav.menu>ul>li>a:hover{background-color: white; color:#6B6B6B;}

div.logWrap{width: 1200px;margin: 0 auto;background-color: aquamarine;}
nav.logoimg{float: left; margin-top:25px; _background-color: turquoise;}
nav.logoMenu{float: right;}
nav.logoMenu>ul>li{float:left;}
nav.logoMenu>ul>li>a{display: block; text-align: center; padding: 0 30px; line-height: 43px;
 _background-color: violet; margin-top: 25px;}