@charset "utf-8";
body{
    font-family: 'Nanum Gothic', sans-serif+'Noto Sans KR', sans-serif;
    font-size: 14px;
}

/*header*/
#header{min-width: 1200px;}
.util_menu_wrap{ background-color: #0044af;}
.util_menu{width: 1200px; margin: 0 auto;}
.util_menu .left{float: left;}
.util_menu .right{float: right;}

.util_menu .left li{float: left; margin-right: 2px;}
.util_menu .left a{
       text-align: center; display: block; line-height: 40px;
        background: #00163b; color: white; width: 120px;
    } 
.util_menu .left a.active,
.util_menu .left a:hover{background: #fff; color: #333;}


.util_menu .right li{float:left;}
.util_menu .right a{display: block; line-height: 40px; color: #fff;
padding: 0 10px;}



.util_menu .right li:nth-child(2)>a{
    float: left; background: #FFF; color: #000;
    line-height: 20px; width: 20px; padding: 0; text-align: center;
    margin-right: 2px; margin-top: 10px;
} /*margin top값은 밑으로 내릴수 있다*/

.main_menu_wrap{width: 1200px; margin: 0 auto; 
     height:115px;_background-color: thistle;}

div.left{float: left; _background-color: red;}
div.left li{float: left;_background-color: royalblue;}
div.left li img{display: block; margin-top: 35px;}

div.right{float: right;}
div.right li{float: right;}
div.right li a{display: block; text-align: center; padding: 30px;
_background-color: salmon; margin-top: 20px; color:464646; font-weight:700;}


/*contents*/
.contents{height:1300px;/*나중에삭제*/
     background:gray;
    min-width:1200px;
    background-image: url(../images/main_bg.jpg); 
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding-top: -77px;
}

.contents .title{width: 1200px; margin: 0 auto; height: 130px; _background-color:blue;
margin-bottom: 55px;}

div.txt_box{width: 1000px; height: 130px;_background-color: violet;
  padding:20px; margin-left:-20px; margin-bottom: 20px;}
div.txt p{color: white; font-size:55px; font-weight:lighter;
margin-top: 10px; }
div.txt p2{color: white; font-size:55px; font-weight:bold; margin-top:20px;}


div.title_wrap .title_box{float: right; margin-top: -120px;}
div.title_wrap .title_box li {float: left;}
div.title_wrap .title_box li p{font-size: 14px;display: block;
 text-align: center; line-height: 10px;}


.container{width: 1200px; margin: 0 auto; background: wheat;}
.container>ul>li{float: left; width: 25%; height: 225px;}

.container>ul>li:nth-child(2n){background: pink;}

.container>ul>li:nth-child(1){width: 75%; height: 450px;} 
.container>ul>li:nth-child(1)

.container>ul>li:nth-child(2){height: 450px;} 
.container>ul>li:nth-child(3){} 
.container>ul>li:nth-child(4){} 
.container>ul>li:nth-child(5){} 
.container>ul>li:nth-child(6){} 
.container>ul>li:nth-child(7){} 
.container>ul>li:nth-child(8){width: 75%; float: right;} 

.slider1 .slider1_txt{width: 600px; height: 400px;
position: absolute; _background-color: tomato;
 top:30px; }

 .slider1 .slider1_txt p{
    width: 300px; height: 200px; _background-color: turquoise;
     display: block; text-align: center; margin-top: 40px;
     margin-left: 60px; font-size:60px; line-height: 80px;
     color:#0044af ;  }

.slider1 .slider1_txt a{ font-family: 'Noto Sans KR', sans-serif;
    width: 180px; height: 50px;  margin-left: 40px;
    line-height: 50px;  margin-top: 50px;
    background-color:#00163b; margin-left: 100px;
    display: block; text-align: center;
    font-size: 20px; color: white;
}

.container li .txt_box2 {width: 300px; height: 300px; _background-color: #00163b;
position: absolute;  margin-top: -400px; margin-left: 5px;} 


.container li .txt_box2 p{text-align:left; color: white; font-size: 45px;
line-height: 60px; letter-spacing: -1px;}

.container li .txt_box2 h4{text-align: left; color: white; font-weight: lighter;
margin-top:1px; font-size: 16px;}

.container li .txt_box2 a{ width: 180px; height:50px; background-color:black; 
 display:block; text-align:center; line-height:50px; font-size: 16px; color: white;
 margin-top: 20px;}


.container .txt_box4{_background-color: #0044af;
 position: absolute;  margin-top:-190px; margin-left:20px;} 

 .txt_box4 li{float: left; margin-top:5px; padding:0 10px;}
 .txt_box4 h2{color: white;}
 .txt_box4 li img{margin-top: 10px; margin-bottom: 10px;}
 .txt_box4 li p{
     color: white; display: block;
      text-align:center; padding: 0 3px;
     line-height: 20px; font-size: 15px;}





.container .txt_box5{_background-color: rgb(59, 43, 43);
        position: absolute;  margin-top:-190px; margin-left:10px;} 

.txt_box5 h2{color: white; border-bottom: 1px solid white;}
.txt_box5 ul{margin-top: 20px;}
.txt_box5 li{margin-top: 10px;}
.txt_box5 a{color:white ; font-size: 15px;}