@charset "utf-8";
html,body{height: 100%;
margin: 0 auto;}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
#header{
    height: 1000px;
    background-color: aqua;
    position: relative;
    margin-bottom: 60px;
}

.header_top{
    width: 2000px;
    height: 100px;
    _background-color: brown;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 0 auto;
}

.header_top>.logo>img {
    display: block;
    padding-left: 200px;
}
 .header_top:hover{
    background-color: white;
 
    transition: 0.5s; 
  
} 
.gnb{
    width: 1000px; 
    margin: 0 auto;
    position: relative;
    z-index: 1;   
    top: -60px;
    right: -300px;
}
.gnb>ul>li{
    float: left;
    width: calc(100% / 3);
    _background: skyblue;
    transition:0.3s;
    position: relative;
   
}

.gnb>ul>li>a{
    display: block;
    line-height: 40px;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 18px;
    _background: rgb(233, 233, 233);
}
.gnb>ul>li:hover{background:white;}
/* .gnb{
    _background-color: gray;
    position: relative;
    top:-70px;
    width: 700px;
    right: -1400px;
}
.gnb li{
    float: left;
    
}

.gnb li>a{
    display:inline-block;
    line-height: 50px;
    text-align: center;
    padding:0 10px;
    font-size: 18px;
    
}*/
.gnb li>a:hover{
    color:rgb(21, 93, 84);
    font-weight: bold;
} 
.gnb li>a{
    color:rgb(36, 36, 36);
}
.gnb>ul>li:hover .submenu{top:40px;}
        
.submenu{
    position: absolute;
    top:-2100%;
    width: 100%;
    background:white;
    transition:0.6s
}
.submenu a{
    text-align: center;
    display: block;
    line-height: 40px;
    font-size: 16px;
}
/* .submenu a:hover{background: rgb(219, 219, 219);} */

/*headerMenu*/
.sliderWrap {
    position: relative;
}
.sliderWrap .li_1st,.sliderWrap .li_2st{
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sliderWrap .li_1st{
    background-image: url(../images/slider01.png);
}
.sliderWrap .li_2st{
    background-image: url(../images/slider02.png);
}

.content{
    height: 2200px;
    _background-color: greenyellow;
    margin: 0  auto;
    width: 100%; 
    position: relative;
    bottom: 50px;
}

.contentBox1{
    background:#FBF9F9;
    text-align:center;
    height: 300px;
    position: relative;
    top:-20px;
}
.cbt{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
   padding-top: 80px;
}
.cbt01{
    font-weight: normal;
    font-size: 16px; 
    line-height: 30px;
}
.contentBox2{
    position: relative;
    height: 900px;
    width: 100%;
    margin: 0 auto;
    top: -40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/banner.png);
}
.Box2Txt{
   position: absolute;
   left: 350px;
   bottom: 250px;
   font-size: 18px;
   font-weight: normal;
   color: white;
   _background-color: tomato;
   width: 800px;


}
.Box2tltie{
    font-weight: bold;
    font-size: 24px;
}

.view{
    _background-color: greenyellow;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border: 1px solid #ffff
    ;
}
.view:hover{
    background-color: rgba(0, 0, 0, 0.377);
    transition: 0.5s;
}
.view>a{
   line-height: 50px;
   margin-left: 50px;
   _background-color: hotpink;
  
}

.contentBox3{
    width: 1500px;
    height: 1000px;
    _background-color: aqua;
    margin: 0 auto;
    margin-top: 100px;
}
.contentBox3>p{
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    color: #4E4E4E;
}
.contentBox3>p>span{
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}

.contentBox3>ul{
    margin-top: 100px;
}
.contentBox3>ul>li{
    float: left;
    padding: 0 20px;
    
}
.contentBox3>p>span:after{
    display: block;
    content: "";
    width: 100px;
   margin-left: 700px;
   margin-top: 20px;
    border-bottom: 3px solid #4E4E4E;
    line-height: 30px;
}

.contentBox3 li .overlay{
    width: 449px;
    height: 588px;
    background:rgba(0, 0, 0, 0.692);
    position: absolute;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
    transition:0.3s;
    line-height: 30px;
    opacity:0
}
.overTxt{
    font-size: 18px;
}
.contentBox3 li:hover .overlay{
    opacity:1
}

/* .contentBox3 .titleP01{
    font-weight: bold;
    font-size: 24px;
}
.contentBox3>ul>li>p{
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    font-size: 18px;
    bottom: 50px;
} */



/* footer  */
  /*footer*/
  #footer{
    position: relative;
    bottom: -100px;
    height: 250px;
    background:#F1F3F6;
}
.footer01{
  _background-color: chartreuse;
  width: 1200px;
  margin: 0 auto;
  position:relative;
  bottom: -50px;
  color:#8D8D8D;
}
.footer01 img{
    float:left;
}
.footer01 li{
  float:right;
  padding: 0 20px;
}


.footer01 li a{
 color:#8D8D8D;    
font-size: 16px; 
 
}

#footer p{
    position: absolute;
  bottom: -100px;
  font-size: 14px;
}