@charset "utf-8";
html,body{height: 100%;
margin: 0 auto;}
body{
    font-family: 'Noto Sans KR', sans-serif;
}
#header{
    height: 1000px;
    background-color: aqua;
    position: relative;
    margin-bottom: 60px;
}

.header_top{
    width: 1240px;
    height: 100px;
    _background-color: brown;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top:20px;
    z-index: 1;
}
.gnb{
    _background-color: gray;
    position: relative;
    top:-70px;
    width: 405px;
    right: -730px;
}
.gnb li{
    float: left;
    
}
.gnb li>a{
    display: block;
    line-height: 50px;
    text-align: center;
    padding:0 10px;
    font-size: 16px;
}
.sliderWrap {
    position: relative;
}
.sliderWrap .li_1st,.sliderWrap .li_2st{
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sliderWrap .li_1st{
    background-image: url(../images/slider01.png);
}
.sliderWrap .li_2st{
    background-image: url(../images/slider02.png);
}

.content{
    height: 2000px;
    background-color: greenyellow;
    margin: 0  auto;
    width: 100%; 
    position: relative;
    bottom: 50px;
}

.contentBox1{
    background:#FBF9F9;
    text-align:center;
    height: 300px;
    position: relative;
}
.cbt{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
   padding-top: 80px;
}
.cbt01{
    font-weight: normal;
    font-size: 16px; 
    line-height: 30px;
}
.contentBox2{
    position: relative;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/banner.png);
}
.Box2Txt{
   position: absolute;
   left: 350px;
   bottom: 250px;
   font-size: 18px;
   font-weight: normal;
   color: white;
   _background-color: tomato;
   width: 800px;


}
.Box2tltie{
    font-weight: bold;
    font-size: 24px;
}

.view{
    _background-color: greenyellow;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border: 1px solid #ffff
    ;
}
.view>a{
   line-height: 50px;
   margin-left: 50px;
   _background-color: hotpink;
  
}