@charset "UTF-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.header{
    height: 1930px;
    _background: gray;
    position: relative;
}
.wrap {
    width:1240px; 
    margin: 0 auto;
}
.header {
    width: 100%; 
    height: 900px;
    margin-bottom: 800px;
}
.header{
    position: relative;
}
.logo img {
    width: 140px;
    height: 40px;
    float: left; 
    margin-top: 40px;
}
.header_top {
    position: fixed;
    z-index: 1000;
    width: 100%;
    _background: #1d1e20; 
    transition: 1s;
    height: 120px; 
    top: 0;
}

.header_top:hover{
    background: #05182c; 
    height: 320px; 
}

/*헤더메뉴탭이올시다*/
.gnb {
    width: 900px; 
    float: left; 
    margin-top: 35px; 
    margin-left: 80px;
    _background-color: #05182c;
    transition: 1s;
}
.menuline{
    display: none;
}
.gnb>li {
    float: left; 
    width: calc(780px / 6); 
    text-align: center; 
    position: relative;
    left: 100px;

}

.gnb>li>a {
    display:inline-block;
    line-height: 45px; 
    text-align: center; 
    color: #fff; 
    font-size: 16px;
}

.gnb>li>a:after,.submenu>li>a:after{
    content: '';
    display:block; 
    border-bottom: solid 1px #d5f3ff; 
    transform: scaleX(0);
    transition: 0.2s ease-in-out;
}

.gnb>li>a:hover:after,
.submenu>li>a:hover:after
{
    transform: scaleX(1);
}


.gnb:hover .submenu{
display: block;
}
.gnb>li>a{
    font-size: 18px;
}
.gnb>li>a:hover{
    color: seashell;
}
.submenu>li>a {
    display:inline-block;
    padding: 10px 0;
    line-height: 30px; 
    text-align: center; 
    color: #fff;
    font-size: 16px;
    font-weight:lighter;
} 
.submenu{display: none;} 


.bannerTitle{   
    width: 1000px;
    _background-color: aquamarine;
    margin: 0 auto;
    margin-top: 160px;
    text-align: center;
}
.bannerTitle .Btitle{
    font-size: 30px;
    color: white;
}
.bannerTitle .Btitle02{
    font-size: 15px;
}
.bannerWrap{
    position: absolute;
    width: 100%;
    margin:  0 auto;
    background-color: green;
    background-image: url(../images/biss.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.BannerMenu {
    width: 1240px;
    border-bottom: 4px solid #004895; 
    margin: auto;
    position: absolute; 
    top: 399px; 
    left: 50%; 
    transform: translate(-50%,-98%);
    background-color: aqua;
}
/*tab*/

.tab{display: flex; background-color: blueviolet; 
/* transform: translateX(15%); */
 width: 1240px;
}
.tab li{
    width: 310px;text-align: center;
    padding:10px 0
}  
.tab li a{
    
}
.tab li.on{background: skyblue;}
/* .box{width: 100%; height: 100%; background-color: crimson;}
.box div{
    display: none;
    width: 200px;
    padding:20px;
}
.box div:first-child{display: block;} */

/*Contents*/
 .contents  {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top:450px;  
    _background-color: aqua;
} 
.box{
     width: 100%; 
    height: 100%; 
    position: relative;
    background-color: rgb(20, 130, 220); */
}
.box div{
     display: none;
    width: 200px;
    padding:20px;
    background-color: burlywood;
}
.box div:first-child{
    display: block;
}
.box>.bs01>img{

   margin-left: 40px;

}

.box>div>.location {
    display: flex;
    width: 600px;
    background-color: aquamarine;
}


#footer{
    position: relative;
    bottom: -600px;
    height: 250px;
    background:#F1F3F6;
}
.footer01{
_background-color: chartreuse;
width: 1200px;
margin: 0 auto;
position:relative;
bottom: -50px;
color:#8D8D8D;
}
.footer01 img{
    float:left;
}
.footer01 li{
float:right;
padding: 0 20px;
}


.footer01 li a{
color:#8D8D8D;    
font-size: 16px; 

}
/*footer*/
#footer p{
    position: absolute;
bottom: -100px;
font-size: 14px;
}
.famSite select {
    position: absolute;
    left: 1000px;
    bottom: -30px;
    width: 190px; 
    height: 35px; 
    color: #444; 
    background-color: #e4e4e4;
    text-indent: 12px;
    border-color: #8D8D8D;
    border-radius:1px;
}