@charset "UTF-8";
/*sub business*/
/*pc_ver*/
body{
    font-family: 'Noto Sans KR', sans-serif;
}
@media screen and ( min-width:700px ){
    body{
        font-family: 'Noto Sans KR', sans-serif;
    }
    .header{
        height: 1930px;
        _background: gray;
        position: relative;
    }
    .wrap {
        width:1240px; 
        margin: 0 auto;
    }
    .header {
        width: 100%; 
        height: 900px;
        margin-bottom: 800px;
    }
    .header{
        position: relative;
    }
    .logo img {
        width: 140px;
        height: 40px;
        float: left; 
        margin-top: 40px;
    }
    .header_top {
        position: fixed;
        z-index: 1000;
        width: 100%;
        _background: #1d1e20; 
        transition: 1s;
        height: 120px; 
        top: 0;
    }

    .header_top:hover{
        background: #05182c; 
        height: 320px; 
    }

    /*헤더메뉴탭이올시다*/
    .gnb {
        width: 900px; 
        float: left; 
        margin-top: 35px; 
        margin-left: 80px;
        _background-color: #05182c;
        transition: 1s;
    }
    .menuline{
        display: none;
    }
    .gnb>li {
        float: left; 
        width: calc(780px / 6); 
        text-align: center; 
        position: relative;
        left: 100px;

    }

    .gnb>li>a {
        display:inline-block;
        line-height: 45px; 
        text-align: center; 
        color: #fff; 
        font-size: 16px;
    }

    .gnb>li>a:after,.submenu>li>a:after{
        content: '';
        display:block; 
        border-bottom: solid 1px #d5f3ff; 
        transform: scaleX(0);
        transition: 0.2s ease-in-out;
    }

    .gnb>li>a:hover:after,
    .submenu>li>a:hover:after{
        transform: scaleX(1);
    }


    .gnb:hover .submenu{
        display: block;
    }
    .gnb>li>a{
        font-size: 18px;
    }
    .gnb>li>a:hover{
        color: seashell;
    }
    .submenu>li>a {
        display:inline-block;
        padding: 10px 0;
        line-height: 30px; 
        text-align: center; 
        color: #fff;
        font-size: 16px;
        font-weight:lighter;
    } 
    .submenu{display: none;} 


    .bannerTitle{   
        width: 1000px;
        _background-color: aquamarine;
        margin: 0 auto;
        margin-top: 160px;
        text-align: center;
    }
    .bannerTitle .Btitle{
        font-size: 30px;
        color: white;
    }
    .bannerTitle .Btitle02{
        font-size: 15px;
    }
    .bannerWrap{
        position: absolute;
        width: 100%;
        margin:  0 auto;
        background-color: green;
        background-image: url(../images/biss.png);
        background-size: cover;
        background-position: center;
        height: 400px;
    }
    .BannerMenu {
        width: 1240px;
        border-bottom: 4px solid #004895; 
        margin: auto;
        position: absolute; 
        top: 399px; 
        left: 50%; 
        transform: translate(-50%,-98%);
        _background-color: aqua;
    }
    /*tab*/

    .tab{
        display: flex; 
        background-color:#F2F2F2; 
        /* transform: translateX(15%); */
        width: 1240px;
    }
    .tab li{
        width: 310px;
        text-align: center;
        padding:10px 0;
        line-height: 30px;
        font-size: 16px;
    }  

    .tab li.on{
        background: #0B3460;
        color: white;
    }


    /*Contents*/
    .contents  {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        left: -10px;
        top:450px;  
        _background-color: rgb(69, 105, 105);
    } 
    .box{
        width: 100%; 
        height: 100%; 
        position: relative;
        _background-color: rgb(20, 130, 220); */
    }
    .box div{
        display: none;
        width: 1000px;
        padding:20px;
    
        _background-color: burlywood;
        
    }
    .box div:first-child{
        display: block;
    }
    .box div>img{
        position: relative;
        left: 150px;
        margin-top: 30px;
    }
    .location {
        display: flex;
        width: 600px;
        _background-color: aquamarine;
    } 

    .conSubTit {
        color: rgb(3, 40, 109);
        font-size: 30px;
        font-weight: normal;
        text-align: center;
    }
    .conSubTit:after{
        content: "";
        display: block;
        width: 70px;
        height: 4px;
        background-color: rgb(3, 40, 109);
        padding-left: 48px;
        transform: translateY(10px);

    }
    .subBox {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        _background-color: chartreuse;
        position: relative;
        left: 100px;
    }
    .main {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        text-align: center; 
        font-size: 30px; 
        font-weight: normal;
        color: rgb(3, 40, 109); 
        position: relative;
        left: 40px;
    }

    /* footer */
    #footer{
        position: relative;
        bottom: -600px;
        height: 250px;
        width: 100%;
        background:#F1F3F6;
    }
    .footer01{
        _background-color: chartreuse;
        width: 1200px;
        margin: 0 auto;
        position:relative;
        bottom: -50px;
        color:#8D8D8D;
    }
    .footer01 img{
        float:left;
    }
    .footer01 li{
        float:right;
        padding: 0 20px;
    }


    .footer01 li a{
        color:#8D8D8D;    
        font-size: 16px; 

    }

    #footer p{
        position: absolute;
        bottom: -100px;
        font-size: 14px;
    }
    .famSite select {
        position: absolute;
        left: 1000px;
        bottom: -30px;
        width: 190px; 
        height: 35px; 
        color: #444; 
        background-color: #e4e4e4;
        text-indent: 12px;
        border-color: #8D8D8D;
        border-radius:1px;
    }
}/* pc end */

@media screen and ( max-width:699px ){
    #main_header{_background: rgb(122, 63, 63);}
    
    .header_top{
        background: rgb(0, 0, 0,0.2);
        padding: 0 16px;
        z-index:99999;/*ttoggle을 앞으로 보내자*/
        position: fixed;
        width:100%;
        height: 8%;
        display: flex;  
        justify-content: space-between;
        align-items:center;
    }
 
    .header_top .gnb.view{
        top: 0;
    }
    .header_top .gnb{
        /* float:initial; */
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000e1;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        bottom:-100%;
      
    }
    .header_top .gnb li{
        position: relative;
        width: 50%;  
        _background-color: #0633af; 
        bottom: -200px;
        left: 120px;
   
    }
    .header_top .gnb li a {
         /* float: none;
        line-height: 40px;
        background: orange;
        width: 200px;
        display:block;
        font-size: 10px;
        padding: 10px;
        text-align: center;
        color: white;  */
        display: block;
        _background: orange;
         line-height: 40px; 
        text-align: center;
         bottom: 600px;
         color: white;
         font-size: 20px;
       
    }
    .submenu{display: none;}
    .menuline{display: none;}
    
    .header_top .logo {
        height: 40px;
        padding: 0 10px;
    }
    
    .header_top .gnb li{
        margin-bottom:25px;
    }
    .toggle{
        display: block;
    }

    .toggle{
        width: 40px;
        height: 40px;
        position: relative;
    }
    .toggle div{ /*토글바 3개짜리 만드는거야*/
        position: absolute;
        width: 35px;
        height: 3px;
        background: rgb(255, 255, 255);
        left: 50%;/*왼쪽에서 50%만큼*/
        top:50%;/*위에서 50%만큼*/
        transform: translate(-50%,-50%);/* x축-50%,y축-50% */
        border-radius:2px;
        transition:0.3s;/*애니메이션느낌*/
        cursor:pointer;
    }
    .toggle .bar1{top:10px;}
    .toggle .bar3{top:30px}
    .toggle.active .bar1{
        top:50%;
        transform:translate(-50%,-50%)
        rotate(45deg)
    }
    .toggle.active .bar2{
        opacity:0
    }
    
    .toggle.active .bar3{
        top:50%;
        transform:translate(-50%,-50%)
        rotate(-45deg)
    }

    
   
    .bannerTitle{   
        width: 200px;
        background-color: rgb(4, 37, 26);
        margin: 0 auto;
        margin-top: 160px;
        position: relative; 
    }
    .bannerTitle .Btitle{
        font-size: 20px;
        color: rgb(34, 10, 10);
        position: absolute;
        left: 100px;
        _background-color: blueviolet;
        text-align: center;
    }
    .bannerTitle .Btitle02{
        font-size: 15px;
    }
    .bannerWrap{
        position: absolute;
        width:500px;
        margin:  0 auto;
        background-color: green;
         background-image: url(../images/hello2.png); 
        background-size: cover;
        background-position: center;
        height: 400px;
    }
   
    
    .BannerMenu{
        width: 480px;
        border-bottom: 4px solid #004895;
        margin: auto;
        position: absolute;
        top: 399px;
        /* left: 50%;
        transform: translate(-50%,-98%); */
    }
       
    .BannerMenu ul {
      width: 410px;
      position: absolute;
      left: 412px;
      bottom: 0px;
      display: flex;
      left: 40px;
    
    }
    .BannerMenu li {
        flex: 1;
    }
    .BannerMenu li a {
        display: block;
        line-height: 10px; 
        text-align: center; 
        color: #444; 
        /* background: #F3F3F3; */
    }
    .BannerMenu li.active a {
         background:#0B3460; 
        color: #fff;
        }
    .BannerMenu li a:hover {
        background: #0B3460;
        color: #fff;}

    /*tab*/

    .tab{
        display: flex; 
        background-color:#F2F2F2; 
        /* transform: translateX(15%); */
        width: 1240px;
    }
    .tab li{
        width: 310px;
        text-align: center;
        padding:10px 0
    }  

    .tab li.on{
        background: #0B3460;
        color: white;
    }

    /*content mo*/
    .contents  {
        height: 100%;
        position: relative;
        top:450px;  
        _background-color: aqua;
    }
    .location {
        display: flex;
    }
    .location>a {
        font-size: 14px;
    }
    .location>a.on {
        color: #0633af;
    }
    .conSubTit {
        color: rgb(3, 40, 109);
        font-size: 30px;
        font-weight: normal;
        text-align: center;
    }
    .conSubTit:after{
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background-color: rgb(3, 40, 109);
        padding-left: 48px;
        transform: translateY(10px);

    }
    .subBox {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .main {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        text-align: center; 
        font-size: 18px; 
        font-weight: normal;
        color: rgb(3, 40, 109); 
    }

    .visonmain_txt{
        position: relative;
        _background-color: blue;
        text-align: left;
        left: 50px;
        margin-top: 70px;
        padding-left: 0px;
        font-size: 14px;
        font-weight: normal;
        line-height: 30px;
        color: #444;
    }
    .visonmain_txt>img{
        width: 400px;
        height: 300px;
        margin-bottom: 200px;
        
    }
    .main_to{
        _background-color: olivedrab;
        height: 200px;
        padding-top: 100px;
        font-size: 15px;
        font-weight: normal;
        color: rgb(3, 40, 109); 
    }

    .bannerTitle{   
        width: 1000px;
        _background-color: aquamarine;
        margin: 0 auto;
        margin-top: 160px;
        text-align: center;
    }
    .bannerTitle .Btitle{
        font-size: 30px;
        color: white;
    }
    .bannerTitle .Btitle02{
        font-size: 15px;
    }
    .bannerWrap{
        position: absolute;
        width: 100%;
        margin:  0 auto;
        background-color: green;
        background-image: url(../images/biss.png);
        background-size: cover;
        background-position: center;
        height: 400px;
    }
    .BannerMenu {
        width: 500px; 
        border-bottom: 4px solid #004895; 
        margin: auto;
        position: absolute; 
        top: 399px; 
        left: 50%; 
        transform: translate(-50%,-98%);
    
    }
    .BannerMenu ul {
        display: flex;
    }
    .BannerMenu li {
        flex: 2;
    }
    .BannerMenu li a {
        display: block;
        line-height: 50px; 
        text-align: center; 
        color: #444; 
        background: #F3F3F3;
        left: -370px;
        position:relative;
    }
    .BannerMenu li.active a {
        background:#0B3460;
        color: #fff;
        }
    .BannerMenu li a:hover {
        background: #0B3460;
        color: #fff;}
    


    /*이미지조정*/

    .box div>img{
        position: relative;
        left: 50px;
        margin-top: 30px;
        width: 400px;
    }

    /*footer*/
    #footer{
        position: relative;
        bottom: -600px;
        height: 250px;
        background:#F1F3F6;
        width: 100%;
    }
    .footer01{
        /* background-color: chartreuse; */
        width: 100%;
        margin: 0 auto;
        position:relative;
        bottom: -50px;
        color:#8D8D8D;
    }
    .footer01 img{
        position: absolute;
        
        left: 20px;
    }
    .footer01 li{
      display: none;
    }


 

    #footer p{
        position: absolute;
        bottom: -150px;
        font-size: 14px;
        left: 20px;
        _background-color: brown;
    }
    .famSite select {
       display: none;
    }







} /* mobile end */