@charset "UTF-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.header{
    height: 1930px;
    _background: gray;
    position: relative;
}
.wrap {
    width:1240px; 
    margin: 0 auto;
}
.header {
    width: 100%; 
    height: 900px;
    margin-bottom: 800px;
}
.header{
    position: relative;
}
.logo img {
    width: 140px;
    height: 40px;
    float: left; 
    margin-top: 40px;
}
.header_top {
    position: fixed;
    z-index: 1000;
    width: 100%;
    _background: #1d1e20; 
    transition: 1s;
    height: 120px; 
    top: 0;
}

.header_top:hover{
    background: #05182c; 
    height: 320px; 
}

/*헤더메뉴탭이올시다*/
.gnb {
    width: 900px; 
    float: left; 
    margin-top: 35px; 
    margin-left: 80px;
    _background-color: #05182c;
    transition: 1s;
}
.menuline{
    display: none;
}
.gnb>li {
    float: left; 
    width: calc(780px / 6); 
    text-align: center; 
    position: relative;
    left: 100px;

}

.gnb>li>a {
    display:inline-block;
    line-height: 45px; 
    text-align: center; 
    color: #fff; 
    font-size: 16px;
}

.gnb>li>a:after,.submenu>li>a:after{
    content: '';
    display:block; 
    border-bottom: solid 1px #d5f3ff; 
    transform: scaleX(0);
    transition: 0.2s ease-in-out;
}

.gnb>li>a:hover:after,
.submenu>li>a:hover:after
{
    transform: scaleX(1);
}


.gnb:hover .submenu{
display: block;
}
.gnb>li>a{
    font-size: 18px;
}
.gnb>li>a:hover{
    color: seashell;
}
.submenu>li>a {
    display:inline-block;
    padding: 10px 0;
    line-height: 30px; 
    text-align: center; 
    color: #fff;
    font-size: 16px;
    font-weight:lighter;
} 
.submenu{display: none;} 


.bannerTitle{   
    width: 1000px;
    _background-color: aquamarine;
    margin: 0 auto;
    margin-top: 160px;
    text-align: center;
}
.bannerTitle .Btitle{
    font-size: 30px;
    color: white;
}
.bannerTitle .Btitle02{
    font-size: 15px;
}
.bannerWrap{
    position: absolute;
    width: 100%;
    margin:  0 auto;
    background-color: green;
    background-image: url(../images/hello2.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}
.BannerMenu {
     width: 1240px;
    border-bottom: 4px solid #004895; 
    margin: auto;
    position: absolute; 
    top: 399px; 
    left: 50%; 
    transform: translate(-50%,-98%);
    background-color: aqua;
}
/*tab*/
li{list-style: none;}
.tab{display: flex;}
.tab li{
    width: 100px;text-align: center;
    padding:10px 0
}
.tab li.on{background: skyblue;}

.box div{display: none;width: 200px;padding:20px}
.box div:first-child{display: block;}

/*tabContents*/
.contents  {
    height: 100%;
    position: relative;
    top:450px;  
    background-color: aqua;
}