@charset "utf-8";
/*공통영역*/
html,body{height: 100%;} /*100으로 설정해도 문제없어*/
body{
    font-family: 'Noto Sans KR', sans-serif;
}
#header_top .logo{
    _background: chocolate;
    height: 50px;
    padding:0 10px;
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
    }

.sliderWrap .sliderTxt{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);/*가운데로 옮기기*/
        width: 1000px;text-align: center;
        _background-color: violet;    
    }
.sliderWrap .sliderTxt p{
    font-size: 1.5em;
    line-height: 50px;
    font-weight: 500;
    color:white
}    
.sliderWrap .sliderTxt h3{
    font-size: 7.5em;  
    font-weight:900;
    font-style:italic;
    color: white;
    
}




.content>ul{
    display: flex;
    flex-wrap:wrap;
}
.content>ul>li{
    width: 25%;
    height: 310px;
    background-color: green;
}

.content>ul>li:nth-child(2n){
    background-color: salmon;
}
.content>ul>li:nth-child(1){
    display: flex;
    background:#0070C3;
}
.content>ul>li:nth-child(2){
    width: 75%;
    height: 620px;
    background-image: url(../images/movie\ pic.png);
    background-size: cover;
} 
 
.content>ul>li:nth-child(3){
    width: 25%;
    transform: translateY(-100%); 
    background:#004B9E;
}
.content>ul>li:nth-child(4){
    height: 551px;
    width: 313px; 
    background: url(../images/content04.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-99%);
}
.content>ul>li:nth-child(5){
    width: 450px; 
    height: 553px; 
    transform: translateX(-69%);  
    bottom:553px;
    background: #F5F5F5;
}
.content>ul>li:nth-child(6){
    width: 480px;
    height: 300px;
    transform:translate(158.3%,-185%);
    background:#2D2D2D;
}
.content>ul>li:nth-child(7){
    width: 480px; 
    height: 280px;
    transform: translate(58.4%,-100%); 
    background:#171717;}

.container{
    background: url(../images/conbg.png)no-repeat center fixed;
    padding: 60px 0;
    background-size: cover;
    }
.container .section{
    width: 1240px;
    margin: 0 auto;
    _background-color: wheat;
    margin-bottom: 30px;
}

.container .section>p{
    text-align: center;
    font-size: 34px;
    margin-bottom: -50px;
    color: white;
    margin: 35px auto;
    _background-color: cornflowerblue;
}
.container .section>p .span0A{
    text-align: center;
    font-size: 34px;
    color: white;
    margin: 0 auto;
    _background-color: cornflowerblue;
}
.container .section>p>span{
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 0 auto;
    _background-color: cornflowerblue;
}
.container .section>p .span0A:after{
    content:"";
    display: block;
    width:100px;
    height: 2px;
    background: #fff;
    margin: 5px auto;
}


.container .vision li{
    float: left;
    width: calc( ( 100% - 60px ) / 4 );
    margin-right: 20px;
}
.container .vision li:last-child{
    margin-right:0;
}

.container .vision li img{
    margin: 0 auto;
    margin-bottom: 10px;
}
.container .vision li .card_body{
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color:white;
}


/******pc영역*******/
@media screen and ( min-width:700px ){
    #main_header{
        height: 1930px;
        _background: gray;
        position: relative;
    }
    

    #header_top{
        width: 1540px;
        margin: 0 auto;
        _background: rgb(70, 70, 70,0.5);
        position: fixed; /*스크린의 뷰포트(viewport)를 기준으로 한 위치에 배치, 스크롤되어도 움직이지 않는 고정된 자리를 갖음*/
        left: 50%;
        transform: translateX(-50%); /*left:50%,translateX:-50% 가운데 정렬*/
        top:20px;
        display: flex;/*개구리소환! 레이아웃배치기능*/
        justify-content: space-between;/*flex의 속성,양끝에 붙는다*/
        align-items: center;
        z-index: 1; /*해당개체가 다른개체에게 먹히지않게 첫번째로!*/
    } 
    .wrap {
        width:1240px; 
        margin: 0 auto;
    }
    .header {
        width: 100%; 
        height: 900px;
        margin-bottom: 800px;
    }
    #header{
        position: relative;
    }
    .logo img {
        width: 140px;
        height: 40px;
        float: left; 
        margin-top: 10px;
    }
    #header_top {
        position: fixed;
        z-index: 1000;
        width: 1260px;
        _background: #1d1e20; 
        transition: 1s;
        height: 85px; 
        top: 0; 
        /* top: 50px; */
    }
    
      #header_top:hover{
         background:#0f2a47; 
          /* width: 1600px;  */
         margin: 0 auto;
          /* height: 90px; */
    } 
      
  
    .gnb {
         /* width: 1000px;   */
        float: left; 
        /* margin-top: 35px;  */
        /* margin-left: 60px; */
        _background-color: #1d4730;
        transition: 1s;
        margin-right: 10px;

    }
   
    .gnb li {
        float: left; 
        width: calc(780px / 6); 
        text-align: center; 
        /* position: relative;  */
        right: -500px;
     
    }
    
    .gnb li .ma {
        display:inline-block;
        line-height: 45px; 
        text-align: center; 
        color: #fff; 
        font-size: 16px;
    }
    /* .gnb li a:hover {
       color: black;
    } */
    .submenu{
        position: absolute;
        top:-200%;
        width: 140px;
        background: rgb(255, 255, 255);
        transition:0.6s;
        margin-bottom: -400px;
        text-align: center;
       
    } 
   
    .gnb>ul>li:hover .submenu{top:85px;}
    .submenu a{
        /* text-align: center; */
        display: block;
        line-height: 40px;
        font-size: 16px;
        color: rgb(90, 90, 90);
        padding-left: 10px;
       
    }
    .submenu a:hover{
        /* text-align: center; */
        color: rgb(8, 43, 107);
        font-weight: normal;
    }
    /*라인*/
     /* .gnb>li>a:after, */
     /* .submenu>li>a:after{
        content: '';
        display:block; 
        border-bottom: solid 1px #d5f3ff; 
        transform: scaleX(0);
        transition: 0.2s ease-in-out;
    } 
     */

     .submenu>li>a:after {
        content: '';
        display: block;
        border-bottom: solid 1px #362d8a;
        transform: scaleX(0);
        transition: 0.2s ease-in-out;
    }
    .submenu>li>a:hover{
       
        transform: scaleX(1);
     
    } 

    .toggle{display: none;}/*pc에는 토글 필요읎어*/
    
    /*slider안에 있는 이미지 크기를 설정하자*/
    .sliderWrap .li_1st,
    .sliderWrap .li_2st{
        height: 1000px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
   
    /*sldier li에 이미지를 삽입하자*/
    .sliderWrap .li_1st{
        background-image: url(../images/business1\ 1.png);
    }
    .sliderWrap .li_2st{
        background-image: url(../images/business1\ 1-1.png);
    }
    
    .bx-wrapper .bx-pager{
       top:600px;
    }
    .sliderWrap .bx-wrapper .bx-pager.bx-default-pager a{
        background: #101c2a;
    }
    .sliderWrap .bx-wrapper .bx-pager.bx-default-pager a.active{
        background: #050e18;width: 35px;height: 10px;
    }
    
    .sliderWrap .bx-wrapper .bx-pager.bx-default-pager a:hover{
        background: rgb(148, 148, 148);
    }
    .content{
        width: 1240px;position: absolute;left: 50%;
        transform:translateX(-50%);bottom: -234px;
       
    }
         
    .content>ul>li:nth-child(1) .txt01{
       _background-color: thistle;
       padding: 40px;
    } 

    .content>ul>li:nth-child(1) .txt1{
        font-weight: bold;
        color: white;
    }
    .content>ul>li:nth-child(1) .txt1_1{
        font-size: 30px;
         padding-top: 100px;
         line-height: 50px;
         color: white;
         font-weight: normal;
    }
    .content>ul>li:nth-child(1) .txt1_2{
        font-size: 14px;
        color: white;
        font-weight:lighter;
        padding-top: 10px;
         line-height: 20px;
      }
    .content>ul>li:nth-child(2) .txt02{
        _background-color: thistle;
        padding:50px;
     } 
     .content>ul>li:nth-child(2) .txt2{
         font-size: 30px;
         color: white;
     }
     .content>ul>li:nth-child(2) .txt2_2{
         color: white;
         margin-top: 20px;
     }
     .content>ul>li:nth-child(2) img{
        _background-color: rgb(63, 26, 63);
        padding-left: 380px;
        margin-top:50px;
        left: 700px;
        cursor: pointer;
     } 
    .content>ul>li:nth-child(3) .txt03{
        _background-color: thistle;
        padding: 40px;
     } 
 
     .content>ul>li:nth-child(3) .txt3{
         font-weight: bold;
         color: white;
     }
     .content>ul>li:nth-child(3) .txt3_1{
         font-size: 30px;
         padding-top: 100px;
         line-height: 50px;
         color: white;
         font-weight: normal;
     }
     .content>ul>li:nth-child(3) .txt3_2{
         font-size: 14px;
         color: white;
         font-weight:lighter;
         padding-top: 10px;
         line-height: 20px;
        
     }

     .content>ul>li:nth-child(4) .txt04{
        _background-color: thistle;
        padding: 0 40px;
     } 
 
     .content>ul>li:nth-child(4) .txt4{
         font-weight:lighter;
         color: white;
         font-size: 34px;
         line-height:50px;
         padding-top: 150px;
     }
     .content>ul>li:nth-child(4) .txt4_1{
         
         padding-top: 90px;
         line-height: 50px;
         color: white;
         font-weight: bold;
     }

     .content>ul>li:nth-child(5) .txt05{
        _background-color: thistle;
        padding: 0 60px;
     } 
 
     .content>ul>li:nth-child(5) .txt5{
         font-weight:normal;
         color: white;
         font-size: 34px;
         line-height:50px;
         padding-top: 140px;
         color:#444444;
     }
     .content>ul>li:nth-child(5) .txt5_1{
       padding-top: 50px;      
       color:#444444;
       font-size: 18px;
        
     }
   
     .content>ul>li:nth-child(5) .txt5_2{
        padding-top: 120px;
        line-height: 50px;
        color: #444444;
        font-weight: bold;
     }
     .content>ul>li:nth-child(5) .arbar{
         transform: translateY(-40px);
         padding-left: 220px;
     }

     .content>ul>li:nth-child(6) .txt06{
        _background-color: thistle;
        padding: 0 50px;
     } 
     .content>ul>li:nth-child(6) .txt6{
         padding-top: 90px;
         font-size: 30px;
         color: white;
     }
     .content>ul>li:nth-child(6) .txt6_1{
         line-height: 20px;
         font-size: 16px;
         padding-top: 20px;
         line-height: 25px;
         color: white;
     }
     .content>ul>li:nth-child(6) .conB6{ 
        padding-left: 300px;
        transform: translateY(-70px);
     }

     .content>ul>li:nth-child(7) .txt07{
        _background-color: thistle;
        padding: 0 50px;
     } 
     .content>ul>li:nth-child(7) .txt7{
         padding-top: 90px;
         font-size: 30px;
         color: white;
     }
     .content>ul>li:nth-child(7) .txt7_1{
         line-height: 20px;
         font-size: 16px;
         padding-top: 20px;
         line-height: 25px;
         color: white;
     }
     .content>ul>li:nth-child(7) .conB7{ 
        padding-left: 300px;
        transform: translateY(-70px);
     }
    /*!!!*/
    .slider1Txt{
        margin:0 auto;
        background-color: aqua;
    }
    /*container02 영역이올시다*/
    .container02{
        position: relative;
        bottom: -50px;
        height: 750px;
        background:#EEEEEE;
    
    }
    .container02Txt{
        position: relative;
        background-color: aquamarine;  
        margin: 0 auto;    
        width: 1500px; 
        left: 40px;
    }   
    .container02Txt>p{
        position:absolute;
        _background-color: rgb(192, 192, 192);
        left: 120px;
        font-size: 35px;
        font-weight:bold;
        color: #444444;
        bottom: -110px;
    }
    .container02Txt ul{
        position: absolute;
        bottom: -160px;
        left: 100px;
    }
    .container02Txt ul li{
        float: left;
        padding: 0 20px;
        font-size: 18px;
    }
    .slide1stWrap{
        width: 1200px;
        margin: 0 auto;
        transform: translateY(190px);
        
    }
    .slide1stWrap .li_1st{
        background-image: url(../images/slider02-A.png);
        height: 500px;
        background-size: cover;
        background-position:right;
    }  
    .slide1st{
        position: relative;
    }

  
   
    /*slider 글씨*/
    .slide1stTxt{
        width: 500px;
        height: 500px;
        background-color: white;
        position: absolute;
        right: -100px;
    }
    .slid1T{
        position: absolute;
        left: 30px;
        bottom: 90px;
        font-size: 20px;
        font-weight: bold;
        color: #0070C3;
    }
    .slid1T>p{
        margin-bottom: 10px;
        color: #444444;
        font-size: 30px;
    }
  
    .slid1T>span{
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 20px;
        color: #444444;
    }

    .slide1stWrap .li_2st{
        background-image: url(../images/slider02-B.png);
        height: 500px;
        background-size: cover;
        background-position:left;
    }
    .slide2stTxt{
        width: 500px;
        height: 500px;
        background-color: white;
        position: absolute;
        right: -100px;
    }
    .slide1stWrap .li_3st{
        background-image: url(../images/slider02-C.png);
        height: 500px;
        background-size: cover;
        background-position:left;
    }

    .slide3stTxt{
        width: 500px;
        height: 500px;
        background-color: white;
        position: absolute;
        right: -100px;
    }
  
    /*footer*/
    #footer{
        position: relative;
        bottom: -100px;
        height: 250px;
        background:#F1F3F6;
    }
    .footer01{
      _background-color: chartreuse;
      width: 1200px;
      margin: 0 auto;
      position:relative;
      bottom: -50px;
      color:#8D8D8D;
    }
    .footer01 img{
        float:left;
    }
    .footer01 li{
      float:right;
      padding: 0 20px;
    }


    .footer01 li a{
     color:#8D8D8D;    
    font-size: 16px; 
     
    }

    #footer p{
        position: absolute;
      bottom: -100px;
      font-size: 14px;
    }
   
} /* pc end */












/******mobile영역*******/

@media screen and ( max-width:699px ){
    #main_header{_background: rgb(122, 63, 63);}
   
    #header_top{
        background: rgb(0, 0, 0,0.2);
        padding: 0 16px;
        z-index:99999;/*ttoggle을 앞으로 보내자*/
        position: fixed;
        width:100%;
        height: 8%;
        display: flex;  
        justify-content: space-between;
        align-items:center;
    }
 
    #header_top .gnb.view{
        top: 0;
    }
    #header_top .gnb{
        float:initial;
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.698);
        display: flex;
        justify-content: center;
        align-items: center;
        bottom:-100%
    }
    #header_top .gnb li{
        width: 20% ; 
        _background-color:violet;
        

    }
    #header_top .gnb li a{
        float:none;
        line-height: 40px;
        _background: orange;
        width: 200px;
        display: block;
        font-size: 20px;
        padding: 10px; 
        text-align: center;
        color: white;
    }
    .submenu{display: none;}
    .menuline{display: none;}
   
    #header_top .logo {
        height: 40px;
        padding: 0 10px;
    }
    
    #header_top .gnb li{
        margin-bottom:25px;
    }
    .toggle{
        display: block;
    }

    .toggle{
        width: 40px;
        height: 40px;
        position: relative;
    }
    .toggle div{ /*토글바 3개짜리 만드는거야*/
        position: absolute;
        width: 35px;
        height: 3px;
        background: white;
        left: 50%;/*왼쪽에서 50%만큼*/
        top:50%;/*위에서 50%만큼*/
        transform: translate(-50%,-50%);/* x축-50%,y축-50% */
        border-radius:2px;
        transition:0.3s;/*애니메이션느낌*/
        cursor:pointer;
    }
    .toggle .bar1{top:10px;}
    .toggle .bar3{top:30px}
    .toggle.active .bar1{
        top:50%;
        transform:translate(-50%,-50%)
        rotate(45deg)
    }
    .toggle.active .bar2{
        opacity:0
    }
    
    .toggle.active .bar3{
        top:50%;
        transform:translate(-50%,-50%)
        rotate(-45deg)
    }

    .sliderWrap .slider{width: 100%;} /*테스트*/
    .sliderWrap .li_1st,.sliderWrap .li_2st{
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .bx-wrapper .bx-pager {
        display: none;
    }
     /*점박이*/
    .sliderWrap .li_1st{
        background-image: url(../images/business1\ 1.png);
        background-size: cover;
        background-position: center;
    }
    .sliderWrap .li_2st{
        background-image:url(../images/business1\ 1-1.png);
        background-size: cover;
        background-position: center;
    }

    .sliderWrap .sliderTxt{
        width: 500px;
        top:50%;
    }

    .sliderWrap .sliderTxt h3{
        font-size: 3.5em;
    }
    .content{     
        _background-color: greenyellow;
        width: 100%;
        height:1400px; }
   .content>ul>li:nth-child(1){width: 50%; transform: translateX(100%);} 
   .content>ul>li:nth-child(2){display: none;}
   .content>ul>li:nth-child(3){width: 50%; transform:translateY(100%);} 
   .content>ul>li:nth-child(4){transform:translateY(-50%); height: 620px;width:245px; }  
   .content>ul>li:nth-child(5){transform:translateY(-135%); width: 100%; height: 230px;}
   .content>ul>li:nth-child(6){transform:translateY(-135%); width: 100%; height: 230px;}
   .content>ul>li:nth-child(7){transform:translateY(-140%); width: 100%; height: 230px;}
   

   .content>ul>li:nth-child(1){
       padding: 0 20px;
       color: white;
    }
    .content>ul>li:nth-child(1) .txt1{
        display: none;
    }
    .content>ul>li:nth-child(1) .txt1_1{
        font-size: 25px;
        padding-top: 170px;
    }
   .content>ul>li:nth-child(1) .txt1_2{
        font-size: 15px;
        padding-top: 10px;
   }
   
   .content>ul>li:nth-child(3){
       padding: 0 20px;
       color: white;
    }
    .content>ul>li:nth-child(3) .txt3{
     display: none;
    }
    .content>ul>li:nth-child(3) .txt3_1{
       font-size: 25px;
       padding-top: 150px;
    }
    .content>ul>li:nth-child(3) .txt3_2{
        font-size: 15px;
       padding-top: 10px;
    }
    .content>ul>li:nth-child(4){
        width: 250px;
    }
    .content>ul>li:nth-child(4){
        padding:0 30px;
        
    }
    .content>ul>li:nth-child(4) .txt4{
        font-size: 30px;
        padding-top: 250px;
        color: white;
        font-weight: lighter;
    }
    .content>ul>li:nth-child(4) .txt4_1{
        font-weight:normal;
        color: white;
        padding-top: 50px;
    }

    .content>ul>li:nth-child(5) .txt05{
        padding:0 50px;
    }
    .content>ul>li:nth-child(5) .txt5{
        color: #444444;
        font-size: 34px;
        font-weight: normal;
        padding-top: 40px;
    }
    .content>ul>li:nth-child(5) .txt5_1{
        padding-top:20px;
    }
    .content>ul>li:nth-child(5) .txt5_2{
        display: none;
    }
    .content>ul>li:nth-child(5) .arbar{
        padding-left: 280px;
        transform: translateY(-30px);
    }

    .content>ul>li:nth-child(6) .txt06{
        padding:0 50px;
    }
    .content>ul>li:nth-child(6) .txt6{
        color:white;
        font-size: 34px;
        font-weight: normal;
        padding-top: 40px;
    }
    .content>ul>li:nth-child(6) .txt6_1{
        padding-top:20px;
        color: white;
        font-weight: lighter;
    }

    .content>ul>li:nth-child(6) .conB6{
        padding-left: 300px;
        transform: translateY(-75px);
    }
    
    .content>ul>li:nth-child(7) .txt07{
        padding:0 50px;
    }
    .content>ul>li:nth-child(7) .txt7{
        color:white;
        font-size: 34px;
        font-weight: normal;
        padding-top: 60px;
    }
    .content>ul>li:nth-child(7) .txt7_1{
        padding-top:20px;
        color: white;
        font-weight: lighter;
    }
    .content>ul>li:nth-child(7) .conB7{
        padding-left: 300px;
        transform: translateY(-75px);
    }
    .container .section{
        width: 100%;
        padding: 0 20px;
    }
    .container .vision li{
        width: calc( ( 100% - 20px ) / 2 );
        margin-bottom: 20px;
    }
    .container .vision li:nth-child(2n){
        margin-right: 0;
    }
     /*!!!*/
     .slider1Txt{
        margin:0 auto;
        background-color: aqua;
    }
    /*container02 영역이올시다*/
    .container02{
        position: relative;
        bottom: -50px;
        height: 750px;
        background:#EEEEEE;
        margin: 0 auto;
    
    }
    .container02Txt{
        position: relative;
        background-color: aquamarine;  
        margin: 0 auto;    
        
        
    }   
    .container02Txt>p{
        position:absolute;
        _background-color: rgb(192, 192, 192);
        margin: 0 auto;
        font-size: 30px;
        font-weight:bold;
        color: #444444;
        bottom: -100px;
        margin-left: 165px;
    }
    .container02Txt ul{
        position: absolute;
        bottom: -150px;
        left: 70px;
        _background-color: aquamarine;
    }
    .container02Txt ul li{
        float: left;
        padding: 0 5px;
        font-size: 16px;
    }
    .slide1stWrap{
        width: 350px;
        /* height: 1500px; */
        margin: 0 auto;
        transform: translateY(190px);
        
    }
    .slide1stWrap .li_1st{
        background-image: url(../images/slider02-A.png);
        height: 500px;
        background-size: cover;
        background-position:right;
    }  
    .slide1st{
        position: relative;
    }
    /*slider 글씨*/
    .slide1stTxt{
        width: 350px;
        height: 200px;
        background-color: white;
        position: absolute;
        bottom: 0;
    }
    .slid1T{
        position: absolute;
        left: 30px;
        font-size: 18px;
        font-weight: bold;
        color: #0070C3;
        margin-top: 20px;
        
    }
    .slid1T>p{
        color: #444444;
        font-size: 16px;
        margin-bottom: -20px;
       
    }
  
    .slid1T>span{
        font-weight: normal;
        font-size: 16px;
        color: #444444;
        margin-bottom: -20px;
       
    }

    .slide1stWrap .li_2st{
        background-image: url(../images/slider02-B.png);
        height: 500px;
        background-size: cover;
        background-position:left;
    }
    .slide2stTxt{
        width: 350px;
        height: 200px;
        background-color: white;
        position: absolute;
        bottom: 0;
    }
    .slide1stWrap .li_3st{
        background-image: url(../images/slider02-C.png);
        height: 500px;
        background-size: cover;
        background-position:left;
    }

    .slide3stTxt{
        width: 350px;
        height: 200px;
        background-color: white;
        position: absolute;
        bottom: 0;
    }
    
    /*footer*/
    #footer{
        position: relative;
        bottom: -100px;
        height: 250px;
        background:#F1F3F6;
    }
    .footer01{
      _background-color: chartreuse;
      width: 400px;
      margin: 0 auto;
      position:relative;
      bottom: -50px;
      color:#8D8D8D;
    }
    .footer01 img{
        float:left;
    }
    .footer01 li{ 
      display: none;
      
      
    }


    .footer01 li a{
     color:#8D8D8D;    
    font-size: 16px; 

     
    }

    #footer p{
        position: absolute;
      bottom: -100px;
      font-size: 14px;
    }
   
    
} /* mobile end */
















