@charset "utf-8";
/*공통영역*/
html,body{height: 100%;} /*100으로 설정해도 문제없어*/
body{
    font-family: 'Noto Sans KR', sans-serif;
}
#header_top .logo{
    _background: chocolate;
    height: 50px;
    padding:0 10px;
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
    }

.sliderWrap .sliderTxt{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);/*가운데로 옮기기*/
        width: 1000px;text-align: center;
        _background-color: violet;    
    }
.sliderWrap .sliderTxt p{
    font-size: 1.5em;
    line-height: 50px;
    font-weight: 500;
    color:white
}    
.sliderWrap .sliderTxt h3{
    font-size: 7.5em;  
    font-weight:900;
    font-style:italic;
    color: white;
    
}




.content>ul{
    display: flex;
    flex-wrap:wrap;
}
.content>ul>li{
    width: 25%;
    height: 310px;
    background-color: green;
}

.content>ul>li:nth-child(2n){
    background-color: salmon;
}
.content>ul>li:nth-child(1){
    display: flex;
    background:#0070C3;
}
.content>ul>li:nth-child(2){
    width: 75%;
    height: 620px;
    background-image: url(../images/movie\ pic.png);
    background-size: cover;
} 
.content>ul>li:nth-child(3){
    width: 25%;
    transform: translateY(-100%); 
    background:#004B9E;
}
.content>ul>li:nth-child(4){
    height: 551px;
    width: 313px; 
    background: url(../images/content04.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-99%);
}
.content>ul>li:nth-child(5){
    width: 450px; 
    height: 553px; 
    transform: translateX(-69%);  
    bottom:553px;
    background: #F5F5F5;
}
.content>ul>li:nth-child(6){
    width: 480px;
    height: 300px;
    transform:translate(158.3%,-185%);
    background:#2D2D2D;
}
.content>ul>li:nth-child(7){
    width: 480px; 
    height: 280px;
    transform: translate(58.4%,-100%); 
    background:#171717;}



/******pc영역*******/
@media screen and ( min-width:700px ){
    #main_header{
        height: 1930px;
        background: gray;
        position: relative;
    }
    
    #header_top{
        width: 1240px;
        _background: green;
        position: fixed; /*스크린의 뷰포트(viewport)를 기준으로 한 위치에 배치, 스크롤되어도 움직이지 않는 고정된 자리를 갖음*/
        left: 50%;
        transform: translateX(-50%); /*left:50%,translateX:-50% 가운데 정렬*/
        top:20px;
        display: flex;/*개구리소환! 레이아웃배치기능*/
        justify-content: space-between;/*flex의 속성,양끝에 붙는다*/
        align-items: center;
        z-index: 1; /*해당개체가 다른개체에게 먹히지않게 첫번째로!*/
    } 

    #header_top .gnb{
        _background: mediumseagreen;
    }
    #header_top .gnb li{
        float: left;
    }
    #header_top .gnb li a{
        display: block; 
        text-align: center;
        padding: 0 30px;
        line-height: 45px;  
        font-size: 18px;
        color: white;    
    }
    .toggle{display: none;}/*pc에는 토글 필요읎어*/
    
    /*slider안에 있는 이미지 크기를 설정하자*/
    .sliderWrap .li_1st,
    .sliderWrap .li_2st{
        height: 1000px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
   
    /*sldier li에 이미지를 삽입하자*/
    .sliderWrap .li_1st{
        background-image: url(../images/business1\ 1.png);
    }
    .sliderWrap .li_2st{
        background-image: url(../images/business1\ 1-1.png);
    }
    
    .bx-wrapper .bx-pager{
       top:600px;
    }
    .sliderWrap .bx-wrapper .bx-pager.bx-default-pager a{
        background: #101c2a;
    }
    .sliderWrap .bx-wrapper .bx-pager.bx-default-pager a.active{
        background: #050e18;width: 35px;height: 10px;
    }
    
    .sliderWrap .bx-wrapper .bx-pager.bx-default-pager a:hover{
        background: rgb(148, 148, 148);
    }
    .content{
        width: 1240px;position: absolute;left: 50%;
        transform:translateX(-50%);bottom: -234px;
       
    }
         
    .content>ul>li:nth-child(1) .txt01{
       _background-color: thistle;
       padding: 40px;
    } 

    .content>ul>li:nth-child(1) .txt1{
        font-weight: bold;
        color: white;
    }
    .content>ul>li:nth-child(1) .txt1_1{
        font-size: 30px;
        padding-top: 120px;
        line-height: 50px;
        color: white;
        font-weight: normal;
    }
    .content>ul>li:nth-child(1) .txt1_2{
        font-size: 14px;
        color: white;
        font-weight:lighter;
      }
    .content>ul>li:nth-child(2) .txt02{
        _background-color: thistle;
        padding:50px;
     } 
     .content>ul>li:nth-child(2) .txt2{
         font-size: 30px;
         color: white;
     }
     .content>ul>li:nth-child(2) .txt2_2{
         color: white;
         margin-top: 20px;
     }
     .content>ul>li:nth-child(2) img{
        _background-color: rgb(63, 26, 63);
        padding-left: 380px;
        margin-top:50px;
        left: 700px;
        cursor: pointer;
     } 
    .content>ul>li:nth-child(3) .txt03{
        _background-color: thistle;
        padding: 40px;
     } 
 
     .content>ul>li:nth-child(3) .txt3{
         font-weight: bold;
         color: white;
     }
     .content>ul>li:nth-child(3) .txt3_1{
         font-size: 30px;
         padding-top: 100px;
         line-height: 50px;
         color: white;
         font-weight: normal;
     }
     .content>ul>li:nth-child(3) .txt3_2{
         font-size: 14px;
         color: white;
         font-weight:lighter;
         padding-top: 10px;
         line-height: 25px;
        
     }

     .content>ul>li:nth-child(4) .txt04{
        _background-color: thistle;
        padding: 0 40px;
     } 
 
     .content>ul>li:nth-child(4) .txt4{
         font-weight:lighter;
         color: white;
         font-size: 34px;
         line-height:50px;
         padding-top: 150px;
     }
     .content>ul>li:nth-child(4) .txt4_1{
         
         padding-top: 90px;
         line-height: 50px;
         color: white;
         font-weight: bold;
     }

     .content>ul>li:nth-child(5) .txt05{
        _background-color: thistle;
        padding: 0 60px;
     } 
 
     .content>ul>li:nth-child(5) .txt5{
         font-weight:normal;
         color: white;
         font-size: 34px;
         line-height:50px;
         padding-top: 140px;
         color:#444444;
     }
     .content>ul>li:nth-child(5) .txt5_1{
       padding-top: 50px;      
       color:#444444;
       font-size: 18px;
        
     }
   
     .content>ul>li:nth-child(5) .txt5_2{
        padding-top: 120px;
        line-height: 50px;
        color: #444444;
        font-weight: bold;
     }
     .content>ul>li:nth-child(5) .arbar{
         transform: translateY(-40px);
         padding-left: 220px;
     }

     .content>ul>li:nth-child(6) .txt06{
        _background-color: thistle;
        padding: 0 50px;
     } 
     .content>ul>li:nth-child(6) .txt6{
         padding-top: 90px;
         font-size: 30px;
         color: white;
     }
     .content>ul>li:nth-child(6) .txt6_1{
         line-height: 20px;
         font-size: 16px;
         padding-top: 20px;
         line-height: 25px;
         color: white;
     }
     .content>ul>li:nth-child(6) .conB6{ 
        padding-left: 300px;
        transform: translateY(-70px);
     }

     .content>ul>li:nth-child(7) .txt07{
        _background-color: thistle;
        padding: 0 50px;
     } 
     .content>ul>li:nth-child(7) .txt7{
         padding-top: 90px;
         font-size: 30px;
         color: white;
     }
     .content>ul>li:nth-child(7) .txt7_1{
         line-height: 20px;
         font-size: 16px;
         padding-top: 20px;
         line-height: 25px;
         color: white;
     }
     .content>ul>li:nth-child(7) .conB7{ 
        padding-left: 300px;
        transform: translateY(-70px);
     }
     
} /* pc end */












/******mobile영역*******/

@media screen and ( max-width:699px ){
    #main_header{background: rgb(122, 63, 63);}
    
    #header_top{
        background: rgb(0, 0, 0,0.2);
        padding: 0 16px;
        z-index:99999;/*ttoggle을 앞으로 보내자*/
        position: fixed;
        width:100%;
        height: 7%;
        display: flex;  
        justify-content: space-between;
        align-items:center;
    }
    #header_top .gnb{
        position: fixed;
        width: 100%;
        height: 100%;
        _background: turquoise;
        left: 0;
        top:-100%;
        display: flex;
        justify-content: center;/*flex의 가운데 속성*/
    }
    #header_top .gnb.view{
        top: 0;
    }
    #header_top .gnb{
        background-color:rgba(0, 0, 0, 0.9);
    }
    #header_top .gnb a{
        line-height: 40px;
        width: 200px;
        display: block;
        font-size: 1em;
        margin-top: 105px;
        text-align: center;
        font-size: 25px;
        font: weight 300px;
        color: white;
    }
    #header_top .logo {
        _background: chocolate;
        height: 40px;
        padding: 0 10px;
    }

    #header_top .gnb li{
        margin-bottom:15px;
    }
    .toggle{
        display: block;
    }

    .toggle{
        width: 40px;
        height: 40px;
        _background: rgb(160, 102, 102);
        position: relative;
    }
    .toggle div{ /*토글바 3개짜리 만드는거야*/
        position: absolute;
        width: 35px;
        height: 3px;
        background: white;
        left: 50%;/*왼쪽에서 50%만큼*/
        top:50%;/*위에서 50%만큼*/
        transform: translate(-50%,-50%);/* x축-50%,y축-50% */
        border-radius:2px;
        transition:0.3s;/*애니메이션느낌*/
        cursor:pointer;
    }
    .toggle .bar1{top:10px;}
    .toggle .bar3{top:30px}
    .toggle.active .bar1{
        top:50%;
        transform:translate(-50%,-50%)
        rotate(45deg)
    }
    .toggle.active .bar2{
        opacity:0
    }
    
    .toggle.active .bar3{
        top:50%;
        transform:translate(-50%,-50%)
        rotate(-45deg)
    }
    .sliderWrap .slider{width: 100%;} /*테스트*/
    .sliderWrap .li_1st,.sliderWrap .li_2st{
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .bx-wrapper .bx-pager {
        display: none;
    }
     /*점박이*/
    .sliderWrap .li_1st{
        background-image: url(../images/business1\ 1.png);
        background-size: cover;
        background-position: center;
    }
    .sliderWrap .li_2st{
        background-image:url(../images/business1\ 1-1.png);
        background-size: cover;
        background-position: center;
    }

    .sliderWrap .sliderTxt{
        width: 500px;
        top:50%;
    }

    .sliderWrap .sliderTxt h3{
        font-size: 3.5em;
    }
    .content{     
        background-color: greenyellow;
        width: 100%;
        height:1400px; }
   .content>ul>li:nth-child(1){width: 50%; transform: translateX(100%);} 
   .content>ul>li:nth-child(2){display: none;}
   .content>ul>li:nth-child(3){width: 50%; transform:translateY(100%);} 
   .content>ul>li:nth-child(4){transform:translateY(-50%); height: 620px;width: 312px; }  
   .content>ul>li:nth-child(5){transform:translateY(-135%); width: 605px; height: 230px;}
   .content>ul>li:nth-child(6){transform:translateY(-135%); width: 605px; height: 230px;}
   .content>ul>li:nth-child(7){transform:translateY(-135%); width: 605px; height: 230px;}
   
} /* mobile end */
















