@charset "utf-8";

body{font-family: 'Roboto', sans-serif;}
#header{min-width: 980px; position: relative; z-index: 1;}
.headerWrap{
    background-color: #267AD9;
    margin: 0 auto; 
    
}

.headerWrap .headerTop{ 
    width: 980px; 
    height: 90px;
    margin: 0 auto;
    position: relative;
   
    }
/*logo*/   
.headerTop h1{
    position: absolute;
    margin: 0 auto;
    float: left;
    width: 160px;
    height: 90px;
    background-image: url(../images/travel\ Logo2\ 2.png);
    _background-color: green;
}

 /*search*/  
 .headerTop .search{
     position: absolute;
     float: left;
     /* width: 200px;
     height: 90px; */
    _background-color: grey;
    left:230px;
    bottom: 25px;
   
}

.searchInp {
   width: 350px;
   height: 40px; border-radius: 25px;
   border:1px solid rgb(139, 139, 139);
   font-size: 14px;
   text-indent:100px;
   _background-color: thistle;
   
   }

.searchTitle{
 
 position: absolute;
 font-size: 16px;
 font-weight: bold;
 left:20px; 
 list-style: 30px;
 line-height: 40px;
 _background-color: tomato;
 }

.searchBtn{
  position: absolute; 
  right:10px; top:1px;
  width: 40px; height: 40px;
  border:none;
  border-radius: 50%; text-indent: -9999px;
  background: url(../images/search01.png) no-repeat center;
}



/*sns menu*/
.headerTop .snsMenu{    
    float:right;
    right: 20px;
    width: 350px;
    height: 90px;
    _background-color: cadetblue;
}
.headerTop .snsMenu .txt p{
      font-weight:bolder;
      font-size: 25px;
      color: white;
      position: absolute;
      bottom: 35px;
      right: 140px;
      _background-color: turquoise;
}

.snsMenu img{
    position: absolute;
    bottom: 40px;
    right:10px; 
    width: 100px;
    height: 20px;
    _background-color: green;
}


.topMenu{
    background-color: white; 
    margin: 0 auto;
   
  
}
.tMenu{
    width: 980px;
    margin: 0 auto;
    _background-color: teal;
   
}
.tMenu li{
    float: left;
    width:calc(100% / 6);
}

.tMenu li a{
    display: block;
    text-align: center;
    line-height:80px;
    font-size: 20px;
    font-weight: 500;
    color:#393939;
}
.tMenu li a:hover{
    color:#267AD9;
    font-weight: bold;
    background-color: rgb(190, 224, 243);
}


.content{ 
    min-width: 980;
    height: 1200px;
    margin: 0 auto;
    _background-color: aquamarine;
    background-image: url(../images/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
   
    
}

 .airplan{
    position: absolute;
    bottom: 20px;
    animation-name:air;
    animation-duration:5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    
}
@keyframes air{
    from{bottom: 500; left: 200px;}
    to{bottom: 1500px; left: 1300px;}
} 
.content .contentBack{
    width: 980px; 
    height: 100%; 
    _background-color: chartreuse;
    margin: 0 auto;
    position: relative;
    bottom: -30px;
        
    
    
}

/*------------------contentBox1 START*/

.Bigcontent{
    _background-color: crimson;
    width: 980px;
    height: 600px;
    position: relative;
    top: 30px;
    
}
 .content .contentBox{
    position: absolute;
    float: left;
    _background-color: gray;
    z-index: 2;
    
} 
/* .sliderWrap{
   right: 210px;
   top:40px;
} */

/*공항예약, 호텔예약, 렌트카, 휴양지 아이콘*/
/* .bxPager.air{
    width: 25px; height: 30px;
    margin-right: 10px;
    display: flex;justify-content: center;align-items: center;
    border-radius: 50%;cursor: pointer;transition:0.3s
} */

.air.plane{font-size: 3em;color:white;transition:0.3s}
}
.bxPager a{
   display: block;
   text-align: left;
}

.bxPager .air{
    display: block;
    text-align: left;
    margin-right: 10px;
}

.sliderWrap{
    margin-bottom: 0;
    bottom: 40px;}    



.tour01 .left,
.right{
    float: left;
    margin-right: 15px;
    position: relative;
    
}

/* .tour01 .left{position: relative;} */




.tour01>.left>.japanTxt{ 
    position: absolute;
    width: 233px;
    height:50px;
    background-color:#924972;
    top:190px;
    line-height:50px;
}

.tour01 .left .japanTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .left .japanTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .left .japanTxt b{
    color: #FFDB5E;
}


.tour01 .right .franceTxt{
    
    position: absolute;
    width: 233px;
    height:50px;
    background-color:#3C6398;
    top:190px;
    line-height:50px;
    
}

.tour01 .right .franceTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .right .franceTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .right .franceTxt b{
    color: #FFDB5E;
}
/*------------------contentBox1 END*/


/*------------------contentBox2 START*/
.contentBox02{
  
   background-color: rgb(97, 63, 63);
   position: absolute;
   right: 5px;
   z-index: 0;
}

.contentBox02 img{
    float: right;

 
}

.contentBox02 img{
    position:absolute;
    right:-110px;
    bottom: -600px;
    opacity: 0.8;
    animation-name:balloon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    z-index: 3;
   
}

@keyframes balloon{
    to{bottom: -500px;}
} 



.content02Txt{
    right: 70px;
    position: absolute;
    width: 400px; _background-color: blue;
    z-index:4;
}
.contentBox02 b{
    font-size: 55px;
    font-weight: bold;
    top: -40px;
    line-height: 60px;
    color:#1C6DC9;}
   

.contentBox02 b line{
  
    border-bottom: 6px solid #0b1725;
}
.contentBox02 p{
    font-size: 30px;
    line-height: 50px;
    font-weight:600;
    color:#0b1725;
    margin-top: 20px;
    
} 








/*------------------contentBox3 START*/
 .contentBox03{
   position: relative;
   margin: 0 auto;
  
}

.contentBox03 >ul>li{
    float: left;
    width: calc((100% - 30px) / 4 );
    margin-right: 10px;
} 

.contentBox03 >ul>li:nth-child(4){
    margin-right:0;
}
.contentBox03 .slider01 p{
    position: absolute;
    width: 100%;background:#48627D;
    padding:10px 16px;
   bottom:0px;
   font-size:15px;
   color: white;
}
.contentBox03 b{
    font-size: 20px;
    font-weight: bolder;
    color: gold;
}


.contentBox03 .slider02 p{
    position: absolute;
    width: 100%;background:#0399AB;
    padding:10px 16px;
    bottom:0px;
    font-size:15px;
    color: white;
}

.contentBox03 .txtHotel{
    position: absolute;
    background-color: #393939;
    width:233px;
    bottom:1px;
    padding:10px 16px;
}


.contentBox03 .txtHotel:hover{
    position: absolute;
    background-color: rgba(255, 189, 8, 0.8);
    transition: .3s; 
    height:240px;
    top: 0px;
}
.contentBox03 .txtHotel p{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    display: block;
    text-align: center;
}
.contentBox03 .txtHotel:hover p{

    margin-top: 50%;
}
.contentBox03 .txtJoy {
    position: absolute;
    background-color:palevioletred;
    width:233px;
    bottom:1px;
    padding:10px 16px;text-align: center;
   
}



.contentBox03 .txtJoy:hover{
    position: absolute;
    background-color: rgba(151, 109, 231, 0.8);
    transition: .3s; 
    height:240px;
    top: 0px;
       
}

.contentBox03 .txtJoy p{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}


.contentBox03 .txtJoy:hover p{
    margin-top: 50%;
}

/*------------------contentBox4 START*/


 .contentBox04{
    position: absolute;
    _background-color:cadetblue;
    top:10px;
    margin: 0 auto;
   
 }
 
 .contentBox04 >ul>li{
    float: left;
    width: calc((100% - 30px) / 4 );
    margin-right: 10px;
} 
 

.contentBox04 >ul>li:nth-child(4){
    margin-right:0;
}

 .contentBox04{
    position: relative;
    _background-color:blue;
    
    margin: 0 auto;
 }
 
 .contentBox04 >ul>li{
     float: left;
     width: calc((100% - 30px) / 4 );
     height: 240px;
     position: relative;
     overflow: hidden;
 } 


 .contentBox04 li .txt{
    position: absolute;
    top:10%; z-index: 4;
    transition: 0.3s;
}

.contentBox04 li .txt02{
    position: absolute;
    top:60%; z-index: 4;
    transition: 0.3s;
}

.contentBox04 li .txt p{
    display: block;
    text-align: center;
    font-weight: bold;
    color:white;
}


.contentBox04 li .txt02{
    display: block;
    text-align: center;
    font-weight: bold;
    color:rgb(46, 46, 46);
}

.contentBox04 li .txt02 .bold01{
    font-size: 20px;
    border-bottom: 2px solid rgb(36, 36, 36);
}



.contentBox04 li .txt p .bold01{
    font-size: 20px;
    border-bottom: 2px solid#fff;
}





.contentBox04 .circle{
    position: absolute;
    width: 50px;
    height: 50px; 
    _background: pink;
    left:50%;
    top:200%;
    transform:translate(-50%,-50%);
    transition:0.3s;
    border: 1px solid #fff;
    border-radius:50%;
    /* animation-name:ani;*/
    animation-duration: 0.3s; 
    animation-name: ani;
}

@keyframes ani{
    from{transform:translate(-50%,-50%)}
    to{transform:translate(-50%,-50%) rotate(180deg)}
}


.contentBox04 li:hover .circle{
    top:-100%;
    animation-iteration-count:infinite;
}    
.contentBox04 .circle .bar1{
    width: 30px;
    height: 4px;
    background: #fff;
    position: absolute;
    border-radius:2px;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%) rotate(90deg);
}
.contentBox04 .circle .bar2{

    width: 30px;
    height: 4px;
    background: #fff;
    position: absolute;
    border-radius:2px;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%)

}




.contentBox04 .circle02{
    position: absolute;
    width: 50px;
    height: 50px; 
    _background: pink;
    left:50%;
    top:-100%;
    transform:translate(-50%,-50%);
    transition:0.3s;
    border: 1px solid black;
    border-radius:50%;
    /* animation-name:ani;*/
    animation-duration: 0.3s; 
    animation-name: ani;
}

@keyframes ani{
    from{transform:translate(-50%,-50%)}
    to{transform:translate(-50%,-50%) rotate(180deg)}
}


.contentBox04 li:hover .circle02{
    top:180%;
    animation-iteration-count:infinite;
}    
.contentBox04 .circle02 .bar1{
    width: 30px;
    height: 4px;
    background:black;
    position: absolute;
    border-radius:2px;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%) rotate(90deg);
}
.contentBox04 .circle02 .bar2{

    width: 30px;
    height: 4px;
    background:black;
    position: absolute;
    border-radius:2px;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%)

}






.contentBox04 li:hover .txt02{
    top:20%;
}


.contentBox04 li:hover .txt{
    top:60%;
}

 .contentBox04 .bg{
    background-color: #0280B2;
    opacity: 0.9;
    width: 90%; height: 100%;
    position: absolute;
    left: 0; top:100%;
    transition: 0.3s;
    
 }
 .contentBox04 li:hover .bg{
      top:0;
 }
 


 .contentBox04 .bg2{
    background-color:#d87b1e;
    opacity: 0.9;
    width: 100%; height : 100%;
    position: absolute;
    left:100%; top:0;
    transition: 0.3s;
 }
 .contentBox04 li:hover .bg2{
   left: 0;
}
/*오른쪽에서 왼쪽으로*/

.contentBox04 .bg3{
    background-color: rgb(78, 72, 75);
    opacity:0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    right:100%; top:0;
    transition:0.3s;
}

.contentBox04 li:hover .bg3{
    right:0;

}

.contentBox04 .bg4{
    background-color: rgb(16, 112, 75);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0; bottom:100%;
    transition: 0.3s;
}

.contentBox04 li:hover .bg4{
    bottom:0;
}



 /*footer*/

 #footer{
     
    width: 980px; 
    margin:  0 auto;
    _background-color:darkseagreen;}

.footer01 li{
    
    float: left;
    margin-right: 20px;
}


.footer01 li a{
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
    color:grey
}

#footer p{
    font-size: 13px;
    font-weight: 200;
    color: grey;
}


/*cityTour-sub page*/
.subContent .subImg{
    background-color: cadetblue;
    height: 300px;
    display: flex; justify-content: center;
    background-image: url(../images/subimg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.subContent .subImgTitle{
    text-align: center;
    transform:translateY(50px);
    line-height: 60px; 
}

.subContent h3{
    font-size: 4em;
    color: white;
   
   
}
.subContent p{
    font-size: 2em;
    color: white;
     
}

.subContent h3:after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 10px auto;

}