@charset "utf-8"
font-family: 'Roboto', sans-serif;

#header{min-width: 980px;}
.headerWrap{
    background-color: #267AD9;
    margin: 0 auto; 
    
}

.headerWrap .headerTop{ 
    width: 980px; 
    height: 90px;
    margin: 0 auto;
    position: relative;
   
    }
/*logo*/   
.headerTop h1{
    position: absolute;
    margin: 0 auto;
    float: left;
    width: 160px;
    height: 90px;
    background-image: url(../images/travel\ Logo2\ 2.png);
    _background-color: green;
}

 /*search*/  
 .headerTop .search{
     position: absolute;
     float: left;
     /* width: 200px;
     height: 90px; */
    _background-color: grey;
    left:230px;
    bottom: 25px;
}
 
.searchInp {
   width: 350px;
   height: 40px; border-radius: 25px;
   border:1px solid rgb(139, 139, 139);
   font-size: 14px;
   text-indent:10px;
   _background-color: thistle;
   }

.searchTitle{
 
 position: absolute;
 font-size: 16px;
 font-weight: bold;
 left:20px; 
 list-style: 30px;
 line-height: 40px;
 _background-color: tomato;
 }

.searchBtn{
  position: absolute; 
  right:10px; top:1px;
  width: 40px; height: 40px;
  border:none;
  border-radius: 50%; text-indent: -9999px;
  background: url(../images/search01.png) no-repeat center;
}



/*sns menu*/
.headerTop .snsMenu{    
    float:right;
    right: 20px;
    width: 350px;
    height: 90px;
    _background-color: cadetblue;
}
.headerTop .snsMenu .txt p{
      font-weight:bolder;
      font-size: 25px;
      color: white;
      position: absolute;
      bottom: 35px;
      right: 140px;
      _background-color: turquoise;
}

.snsMenu img{
    position: absolute;
    bottom: 40px;
    right:-20px; 
    width: 100px;
    height: 20px;
    
}


.topMenu{
    _background-color: rgb(65, 65, 65); 
    margin: 0 auto;
  
}
.tMenu{
    width: 980px;
    margin: 0 auto;
    _background-color: teal;
    right:700px;
}
.tMenu li{
    float: left;
    width:calc(100% / 6);
}

.tMenu li a{
    display: block;
    text-align: center;
    line-height:80px;
    font-size: 20px;
    font-weight: 500;
    color:#393939;
}
.tMenu li a:hover{
    color:#267AD9;
    font-weight: bold;
}


.content{ 
    min-width: 980;
    height: 1085px;
    margin: 0 auto;
    _background-color: aquamarine;
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content .contentBack{
    width: 980px; height: 100%;
    background-color: chartreuse;
    margin: 0 auto;
    position: relative;
}
.content .contentBox{
    position: absolute;
    background-color: gray;
    top:100px;
}
/* .sliderWrap{
   right: 210px;
   top:40px;
} */

/*공항예약, 호텔예약, 렌트카, 휴양지 아이콘*/
.bxPager img{
    width: 30px; height: 30px;
    margin-right: 10px;
}
.bxPager img:hover{
    width: 30px; height: 30px;
    margin-right: 10px; 
}


.sliderWrap{
    bottom: 30px;}    


.tour01 .left,
.right{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    
}

/* .tour01 .left{position: relative;} */
.tour01 .left img{
    width: 220px; 
    height: 240px;
} 

.tour01 .right img{
    width: 220px;
    height: 240px;
}


.tour01 .left .japanTxt{ 
    position: absolute;
    width: 220px;
    height:50px;
    background-color:#924972;
    top:190px;
    line-height:50px;
}

.tour01 .left .japanTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .left .japanTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .left .japanTxt b{
    color: #FFDB5E;
}


.tour01 .right .franceTxt{
    
    position: absolute;
    width: 220px;
    height:50px;
    background-color:#3C6398;
    top:190px;
    line-height:50px;
    
}

.tour01 .right .franceTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .right .franceTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .right .franceTxt b{
    color: #FFDB5E;
}
