@charset "utf-8";

body{font-family: 'Roboto', sans-serif;}
#header{min-width: 980px; position: relative; z-index: 1;}
.headerWrap{
    background-color: #267AD9;
    margin: 0 auto; 
    
}

.headerWrap .headerTop{ 
    width: 980px; 
    height: 90px;
    margin: 0 auto;
    position: relative;
   
    }
/*logo*/   
.headerTop h1{
    position: absolute;
    margin: 0 auto;
    float: left;
    width: 160px;
    height: 90px;
    background-image: url(../images/travel\ Logo2\ 2.png);
    _background-color: green;
}

 /*search*/  
 .headerTop .search{
     position: absolute;
     float: left;
     /* width: 200px;
     height: 90px; */
    _background-color: grey;
    left:230px;
    bottom: 25px;
   
}

.searchInp {
   width: 350px;
   height: 40px; border-radius: 25px;
   border:1px solid rgb(139, 139, 139);
   font-size: 14px;
   text-indent:100px;
   background-color: thistle;
   
   }

.searchTitle{
 
 position: absolute;
 font-size: 16px;
 font-weight: bold;
 left:20px; 
 list-style: 30px;
 line-height: 40px;
 background-color: tomato;
 }

.searchBtn{
  position: absolute; 
  right:10px; top:1px;
  width: 40px; height: 40px;
  border:none;
  border-radius: 50%; text-indent: -9999px;
  background: url(../images/search01.png) no-repeat center;
}



/*sns menu*/
.headerTop .snsMenu{    
    float:right;
    right: 20px;
    width: 350px;
    height: 90px;
    _background-color: cadetblue;
}
.headerTop .snsMenu .txt p{
      font-weight:bolder;
      font-size: 25px;
      color: white;
      position: absolute;
      bottom: 35px;
      right: 140px;
      _background-color: turquoise;
}

.snsMenu img{
    position: absolute;
    bottom: 40px;
    right:10px; 
    width: 100px;
    height: 20px;
    background-color: green;
}


.topMenu{
    background-color: white; 
    margin: 0 auto;
   
  
}
.tMenu{
    width: 980px;
    margin: 0 auto;
    _background-color: teal;
   
}
.tMenu li{
    float: left;
    width:calc(100% / 6);
}

.tMenu li a{
    display: block;
    text-align: center;
    line-height:80px;
    font-size: 20px;
    font-weight: 500;
    color:#393939;
}
.tMenu li a:hover{
    color:#267AD9;
    font-weight: bold;
    background-color: rgb(190, 224, 243);
}


.content{ 
    min-width: 980;
    height: 1200px;
    margin: 0 auto;
    _background-color: aquamarine;
    background-image: url(../images/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
   
    
}

 .airplan{
    position: absolute;
    bottom: 20px;
    animation-name:air;
    animation-duration:5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    
}
@keyframes air{
    from{bottom: 500; left: 200px;}
    to{bottom: 1500px; left: 1300px;}
} 
.content .contentBack{
    width: 980px; 
    height: 100%; 
    _background-color: chartreuse;
    margin: 0 auto;
    position: relative;
    bottom: -30px;
        
    
    
}

/*------------------contentBox1 START*/

.Bigcontent{
    _background-color: crimson;
    width: 980px;
    height: 600px;
    position: relative;
    top: 30px;
    
}
 .content .contentBox{
    position: absolute;
    float: left;
    background-color: gray;
    z-index: 2;
    
} 
/* .sliderWrap{
   right: 210px;
   top:40px;
} */

/*공항예약, 호텔예약, 렌트카, 휴양지 아이콘*/
.bxPager img{
    width: 25px; height: 30px;
    margin-right: 10px;
}


.sliderWrap{
    bottom: 30px;}    



.tour01 .left,
.right{
    float: left;
    margin-right: 15px;
   
    
    position: relative;
    
}

/* .tour01 .left{position: relative;} */




.tour01>.left>.japanTxt{ 
    position: absolute;
    width: 232px;
    height:50px;
    background-color:#924972;
    top:190px;
    line-height:50px;
}

.tour01 .left .japanTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .left .japanTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .left .japanTxt b{
    color: #FFDB5E;
}


.tour01 .right .franceTxt{
    
    position: absolute;
    width: 233px;
    height:50px;
    background-color:#3C6398;
    top:190px;
    line-height:50px;
    
}

.tour01 .right .franceTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .right .franceTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .right .franceTxt b{
    color: #FFDB5E;
}
/*------------------contentBox1 END*/


/*------------------contentBox2 START*/
.contentBox02{
  
   background-color: rgb(97, 63, 63);
   position: absolute;
   right: 5px;
   z-index: 0;
}

.contentBox02 img{
    float: right;

 
}

.contentBox02 img{
    position:absolute;
    right:-110px;
    bottom: -600px;
    opacity: 0.8;
    animation-name:balloon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    z-index: 3;
   
}

@keyframes balloon{
    to{bottom: -500px;}
} 



.content02Txt{
    right: 70px;
    position: absolute;
    width: 400px; _background-color: blue;
    z-index:4;
}
.contentBox02 b{
    font-size: 55px;
    font-weight: bold;
    top: -40px;
    line-height: 60px;
    color:#1C6DC9;}
   

.contentBox02 b line{
  
    border-bottom: 6px solid #0b1725;
}
.contentBox02 p{
    font-size: 30px;
    line-height: 50px;
    font-weight:600;
    color:#0b1725;
    margin-top: 20px;
    
} 








/*------------------contentBox3 START*/
 .contentBox03{
   position: relative;
   margin: 0 auto;
  
}

.contentBox03 >ul>li{
    float: left;
    width: calc((100% - 30px) / 4 );
    margin-right: 10px;
} 

.contentBox03 >ul>li:nth-child(4){
    margin-right:0;
}
.contentBox03 .slider01 p{
    position: absolute;
    width: 100%;background:#48627D;
    padding:10px 16px;
   bottom:0px;
}

.contentBox03 .slider02 p{
    position: absolute;
    width: 100%;background:#0399AB;
    padding:10px 16px;
    bottom:0px;
}

.contentBox03 .txtHotel p{
    position: absolute;
    background-color: #393939;
    width:233px;
    bottom:1px;
    padding:10px 16px;
}
.contentBox03 .txtJoy{
    position: absolute;
    background-color:palevioletred;
    width:233px;
    bottom:1px;
    padding:10px 16px;
}

/*------------------contentBox4 START*/


 .contentBox04{
    position: absolute;
    _background-color:cadetblue;
    top:10px;
    margin: 0 auto;
   
 }
 
 .contentBox04 >ul>li{
    float: left;
    width: calc((100% - 30px) / 4 );
    margin-right: 10px;
} 
 

.contentBox04 >ul>li:nth-child(4){
    margin-right:0;
}

 .contentBox04{
    position: relative;
    _background-color:blue;
    
    margin: 0 auto;
 }
 
 .contentBox04 >ul>li{
     float: left;
     width: calc((100% - 30px) / 4 );
     
 } 


 .contentBox04 .Box1 .flter1{
     width:235px; height:240px;
     _background-color: powderblue;
     position: absolute;
 }

 .contentBox04 .Box1 .flter1:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 100px;
}
    

.contentBox04 .Box1 .txt01{
    position: absolute;
    top: 100px;
    font-size: 14px;
   margin-left: 20px;
   font-weight: bold;
   
}
.contentBox04 .Box1 .txt01:hover{
    position: absolute;
    top: 100px;
    font-size: 14px;
   margin-left: 20px;
   font-weight: bold;
   display: block;
   color: white;
}

 /*footer*/

 #footer{
     
    width: 980px; 
    margin:  0 auto;
    _background-color:darkseagreen;}

.footer01 li{
    
    float: left;
    margin-right: 20px;
}


.footer01 li a{
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
    color:grey
}

#footer p{
    font-size: 13px;
    font-weight: 200;
    color: grey;
}