@charset "utf-8"
font-family: 'Roboto', sans-serif;

#header{min-width: 980px;}
.headerWrap{
    background-color: #267AD9;
    margin: 0 auto; 
    
}

.headerWrap .headerTop{ 
    width: 980px; 
    height: 90px;
    margin: 0 auto;
    position: relative;
   
    }
/*logo*/   
.headerTop h1{
    position: absolute;
    margin: 0 auto;
    float: left;
    width: 160px;
    height: 90px;
    background-image: url(../images/travel\ Logo2\ 2.png);
    _background-color: green;
}

 /*search*/  
 .headerTop .search{
     position: absolute;
     float: left;
     /* width: 200px;
     height: 90px; */
    _background-color: grey;
    left:230px;
    bottom: 25px;
}
 
.searchInp {
   width: 350px;
   height: 40px; border-radius: 25px;
   border:1px solid rgb(139, 139, 139);
   font-size: 14px;
   text-indent:10px;
   _background-color: thistle;
   }

.searchTitle{
 
 position: absolute;
 font-size: 16px;
 font-weight: bold;
 left:20px; 
 list-style: 30px;
 line-height: 40px;
 _background-color: tomato;
 }

.searchBtn{
  position: absolute; 
  right:10px; top:1px;
  
  width: 40px; height: 40px;
  border:none;
  border-radius: 50%; text-indent: -9999px;
  background: url(../images/search01.png) no-repeat center;
}



/*sns menu*/
.headerTop .snsMenu{    
    float:right;
    right: 20px;
    width: 350px;
    height: 90px;
    _background-color: cadetblue;
}
.headerTop .snsMenu .txt p{
      font-weight:bolder;
      font-size: 25px;
      color: white;
      position: absolute;
      bottom: 35px;
      right: 140px;
      _background-color: turquoise;
}

.snsMenu img{
    position: absolute;
    bottom: 40px;
    right:-20px; 
    width: 100px;
    height: 20px;
    
}


.topMenu{
    _background-color: rgb(65, 65, 65); 
    margin: 0 auto;
  
}
.tMenu{
    width: 980px;
    margin: 0 auto;
    _background-color: teal;
    right:700px;
}
.tMenu li{
    float: left;
    width:calc(100% / 6);
}

.tMenu li a{
    display: block;
    text-align: center;
    line-height:80px;
    font-size: 20px;
    font-weight: 500;
    color:#393939;
}
.tMenu li a:hover{
    color:#267AD9;
    font-weight: bold;
}


.content{
   
      }
