@charset "utf-8"
font-family: 'Roboto', sans-serif;

#header{min-width: 980px;}
.headerWrap{
    background-color: #267AD9;
    margin: 0 auto; 
    
}

.headerWrap .headerTop{ 
    width: 980px; 
    height: 90px;
    margin: 0 auto;
    position: relative;
   
    }
/*logo*/   
.headerTop h1{
    position: absolute;
    margin: 0 auto;
    float: left;
    width: 160px;
    height: 90px;
    background-image: url(../images/travel\ Logo2\ 2.png);
    _background-color: green;
}

 /*search*/  
 .headerTop .search{
     position: absolute;
     float: left;
     /* width: 200px;
     height: 90px; */
    _background-color: grey;
    left:230px;
    bottom: 25px;
   
}

.searchInp {
   width: 350px;
   height: 40px; border-radius: 25px;
   border:1px solid rgb(139, 139, 139);
   font-size: 14px;
   text-indent:100px;
   background-color: thistle;
   
   }

.searchTitle{
 
 position: absolute;
 font-size: 16px;
 font-weight: bold;
 left:20px; 
 list-style: 30px;
 line-height: 40px;
 background-color: tomato;
 }

.searchBtn{
  position: absolute; 
  right:10px; top:1px;
  width: 40px; height: 40px;
  border:none;
  border-radius: 50%; text-indent: -9999px;
  background: url(../images/search01.png) no-repeat center;
}



/*sns menu*/
.headerTop .snsMenu{    
    float:right;
    right: 20px;
    width: 350px;
    height: 90px;
    _background-color: cadetblue;
}
.headerTop .snsMenu .txt p{
      font-weight:bolder;
      font-size: 25px;
      color: white;
      position: absolute;
      bottom: 35px;
      right: 140px;
      _background-color: turquoise;
}

.snsMenu img{
    position: absolute;
    bottom: 40px;
    right:10px; 
    width: 100px;
    height: 20px;
    background-color: green;
}


.topMenu{
    _background-color: rgb(65, 65, 65); 
    margin: 0 auto;
  
}
.tMenu{
    width: 980px;
    margin: 0 auto;
    _background-color: teal;
    right:700px;
}
.tMenu li{
    float: left;
    width:calc(100% / 6);
}

.tMenu li a{
    display: block;
    text-align: center;
    line-height:80px;
    font-size: 20px;
    font-weight: 500;
    color:#393939;
}
.tMenu li a:hover{
    color:#267AD9;
    font-weight: bold;
    background-color: rgb(190, 224, 243);
}


.content{ 
    min-width: 980;
    height: 1200px;
    margin: 0 auto;
    _background-color: aquamarine;
    background-image: url(../images/back2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    
    
}


.content .contentBack{
    width: 980px; 
    height: 100%; 
    background-color: chartreuse;
    margin: 0 auto;
    position: relative;
    bottom: -30px;
    
    
    
}

/*------------------contentBox1 START*/

.Bigcontent{
    background-color: crimson;
    width: 980px;
    height: 600px;
    position: relative;
    top: 30px;
    
}
 .content .contentBox{
    float: left;
    background-color: gray;
   
} 
/* .sliderWrap{
   right: 210px;
   top:40px;
} */

/*공항예약, 호텔예약, 렌트카, 휴양지 아이콘*/
.bxPager img{
    width: 25px; height: 30px;
    margin-right: 10px;
}


.sliderWrap{
    bottom: 30px;}    



.tour01 .left,
.right{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    
    position: relative;
    
}

/* .tour01 .left{position: relative;} */
.tour01 .left img{
    width: 220px; 
    height: 240px;
} 

.tour01 .right img{
    width: 220px;
    height: 240px;
}


.tour01 .left .japanTxt{ 
    position: absolute;
    width: 220px;
    height:50px;
    background-color:#924972;
    top:190px;
    line-height:50px;
}

.tour01 .left .japanTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .left .japanTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .left .japanTxt b{
    color: #FFDB5E;
}


.tour01 .right .franceTxt{
    
    position: absolute;
    width: 220px;
    height:50px;
    background-color:#3C6398;
    top:190px;
    line-height:50px;
    
}

.tour01 .right .franceTxt:hover{
    position: absolute;
    background-color: rgba(17, 15, 15, .8);
    transition: .3s; 
    height:240px;
    line-height:250px;
    top: 0px;
}

.tour01 .right .franceTxt p{
    font-weight: bold;
    font-size: 20px;
    color: white;
    display: block;
    text-align: center;
}
.tour01 .right .franceTxt b{
    color: #FFDB5E;
}
/*------------------contentBox1 END*/


/*------------------contentBox2 START*/
.contentBox02{
  
   background-color: rgb(97, 63, 63);
   float: right;
   
   
   
}
.Box2Txt {
    margin-right: 120px;
}

.contentBox02 b{
    font-size: 55px;
    font-weight: bold;
    top: -40px;
    line-height: 60px;
    color:#1C6DC9
}

.contentBox02 b line{
    border-bottom: 6px solid #1C6DC9;
}
.contentBox02 p{
    font-size: 30px;
    line-height: 50px;
    font-weight:600;
    color:#1C6DC9;
    margin-top: 20px;
} */



/*풍선Animation*/
.contentBox02 img{
    
    float: right;
    top:300px;
    position: absolute;
    width: 300px;
    height: 400px;
    
}


.bal{
    position: absolute; 
    bottom: 0px;
    
    background-color: cornsilk;
    animation-name: bal;
    animation-duration:2s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
   
    
    
}
 @keyframes bal {
     from{top:100px}
    to{top:170px}
}


/*비행기 Animation*/
    .airpalnAni{
        position: absolute;
        bottom: 300px;
        animation-name: air;
        animation-duration: 8s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        overflow: hidden; 
        z-index:3;
       
    }

  @keyframes air{
    from{bottom: 0; left: -500px; transform: scale(0.5);}
            to{ bottom: 1000px; left:1000px;transform: scale(1.0);}
}  


/*------------------contentBox3 START*/
 .contentBox03{
   position: relative;
   background-color:gold;
   
   margin: 0 auto;
}

.contentBox03 >ul>li{
    float: left;
    width: calc((100% - 30px) / 4 );
    
} 





/* .contentBox03 .tour02 li p{
    position: absolute;
    top: 50px;
}


.contentBox03 .tour02 li{
    float: left;
   margin-right: 10px;
}


.contentBox03 .tour02 li:first-child{
   margin-left: 8px;
} */


/*------------------contentBox4 START*/



/* .contentBox04{
    position: absolute;
    background-color:cadetblue;
    top:900px;
    margin: 0 auto;
 }
 
 .contentBox04 .tour03 li{
     float: left;
    margin-right: 10px;
 }
 
.contentBox04 .tour03 li:first-child{
    margin-left: 8px;
 } */


 .contentBox04{
    position: relative;
    background-color:blue;
    
    margin: 0 auto;
 }
 
 .contentBox04 >ul>li{
     float: left;
     width: calc((100% - 30px) / 4 );
     
 } 









 /*footer*/

 #footer{
     
    width: 980px; 
    margin:  0 auto;
    background-color:darkseagreen;}

.footer01 li{
    
    float: left;
    margin-right: 20px;
}


.footer01 li a{
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
    color:grey
}

#footer p{
    font-size: 13px;
    font-weight: 200;
    color: grey;
}